[2016-09-14 09:38] xpackal5 opened #353 "Wrong macro in .../templates/datagrid.latte:440"
If I used translation Datagrid caused this error.
File: .../ublaboo/datagrid/src/templates/datagrid.latte:440

[code]

[2016-09-14 09:40] xpackal5 opened #354 "$grid->setItemsPerPageList([10,50, 100, 9999]); not work"
Selectbox is normally visible, but no AJAX event triggered if changed

[2016-09-16 11:45] paveljanda commented on #354
Did you have all JS-s icluded?

[2016-09-17 13:23] xpackal5 commented on #354
Yes

[2016-09-17 23:12] Danoha opened #359 "Sort - third state is zero, causing an error"
Code:

[code]

First click on col header applies ASC sort. Second click applies DESC sort. Thirt click generates link with `grid-sort-date=0`. This value is not expected and generates (using nette/database) following query:

[code]

The same behaviour can be seen [here](http://ublaboo.org/datagrid/column). Server even starts to throw 500`s.

[2016-09-18 00:45] Danoha commented on #197
I have run into similiar issue with group actions. It was not possible to execute group action combined with inline add and Nette rules.

Although I don't like it, I had to do something like this:
[code]

Maybe all submit buttons should have their validation scopes set to their respective containers?

[2016-09-18 10:38] paveljanda commented on #354
Does work for you the demo in official documentation? If yes, the problem has to be in you code..

[2016-09-18 11:34] Danoha opened #360 "Each column render cycle adds already existing classes"
Each rendered cell contains classes from previous row.

Eg.

header (first render):

[code]

first row:

[code]

second row:

[code]

This is caused by multiple usage of Html instance stored in `\Ublaboo\DataGrid\Column\Column::$el_cache`.

[2016-09-18 19:07] zarubik opened #361 "Not support jQuery 3.0"
[QXHR.success is deprecated and removed](https://github.com/jquery/jquery-migrate/blob/dc1d703f7747d71f471316bc66a2ea32b6197046/warnings.md#jqmigrate-jqxhrsuccess-is-deprecated-and-removed) please set bower.json max jQuery version 2

[2016-09-18 19:32] paveljanda commented on #361
Please send a PR. :)

[2016-09-19 07:38] #361 closed

[2016-09-19 07:45] juniwalk commented on #354
@paveljanda I've tried to set this perPage list on one of my projects and it really does not work. Ajax is not auto-submitted so I click submit manually and it still loads only 10 items (checked by SQL).

[2016-09-19 08:04] #348 closed

[2016-09-19 11:06] Mark53CZ commented on #359
Same problem, any hotfix?

[2016-09-19 11:22] #359 closed

[2016-09-19 13:19] lukascellar opened #363 "Row detail not working since 4.4.10"
@pitr82 After this change in 4.4.10 version

https://github.com/ublaboo/datagrid/pull/334/commits/44aa1a2eb6ca04d4dc6b79f08550a947af316cf2

row detail is not working with Nette 2.3. Line removal solves this problem.

[2016-09-19 13:36] paveljanda commented on #363
@pitr82 Does work the online demo for you? There is already the newest version. And it seems ok.

[2016-09-19 17:05] pitr82 commented on #363
This PR solved problem with nette 2.4 and forms in row detail.
@lukascellar can you update to nette 2.4?

[2016-09-19 17:30] lukascellar commented on #363
At this moment I can't update to 2.4, temporarily solved with overloading handleGetItemDetail method.

[2016-09-20 09:41] jeancz opened #364 "Add external parameters to the Column link and Action"
When parameters are passed to the action, there no chance to use external parameters.

For example, we are unable to call action like this *Printer:print(12, self::PAGE_SIZE)* where *self:PAGE_SIZE*  is constant.

[2016-09-21 20:06] xpackal5 opened #366 "Add external parameters to ToolbarButton"
Hello.
Sometimes may be usable something like method ->addAttributes(array $attributes) from Action to ToolbarButton :-)
Thanks Pavel to nice datagrid !!

[2016-09-22 06:08] attreid commented on #366
I think it is there. You can use
[code]

[2016-09-22 07:28] xpackal5 commented on #366
Sure. But this add parameters to URL link. I need add attributes to <a> element.

[2016-09-22 07:32] tomkralik opened #368 "setIcon -> Illegal offset type"
Hello,
I tested the new version and I ran into error messages.
I have a classic grid follows.
`...
$grid->addAction('delete', '', 'opravnenisekDel!')
                ->setIcon('trash-o')
                ->setTitle('Smazat')
                ->setConfirm('Opravdu smazat oprávnění pro uživatele %s?', 'uzivatel');
...
`
I get an error: **„Illegal offset type“ v nette\utils\src\Utils\Html.php:203**

Be

[2016-09-22 07:39] attreid commented on #366
Oh, title confused me

[2016-09-25 20:05] paveljanda commented on #352
`v4.4.18` - There is a `datagrid-instant-url-refresh.js` and `...min.js`, where i put the instant url refresh updated functionality.

[2016-09-25 20:05] #352 closed

[2016-09-26 07:16] juniwalk commented on #352
@paveljanda Isn't that BC break?

[2016-09-26 07:24] paveljanda commented on #352
@juniwalk Well it was when i added the url refresh couple days ago. Then a realized it is a BC break and moved it to separate file.. so I made a BC break again, but it should fix the previously created BC break. :D

The previous BC break was making ajax callas on every non-ajax page load. That was stupid. Now it creates ajax call on every non-ajax page load only if there is at least one datagrid o

[2016-09-26 08:16] FTCP opened #370 "DatePicker Localization"
The datagrid DatePickers completely ignores Locales, when I include bootstrap-datepicker.cs.js, is there way to change localization for all datagrids ?

[2016-09-26 09:02] juniwalk commented on #352
@paveljanda So if I understand this correctly, that AJAX request is getting information about rendered datagrid? Current page, filtering, sorting etc? If so, then this fix is alright. :)

[2016-09-26 09:07] paveljanda commented on #352
@juniwalk That's right.

[2016-09-27 08:40] vyndalin opened #373 "How to implement Ublaboo datagrid - for total beginners"
Hello Pavel (or other volunteers),
I'm new to nette framework and I want to place this great datagrid on my page but, I just can't find out how to do that. I'm confused by official tutorial. So if someone could send me really simple project sample with datagrid (3-4 columns with some filter - select menu with unique values from its column if possible -  and action buttons like inline editing, dele

[2016-09-27 08:49] paveljanda commented on #373
All datagrids on org/datagrid have also example code in PHP. Just click on the "Show me the code" link. :)

On September 27, 2016 at 10:40:17, vyndalin (notifications@github.com) wrote:

Hello Pavel (or other volunteers),
I'm new to nette framework and I want to place this great datagrid on my page but, I just can't find out how to do that. I'm confused by official tutorial. So if someone could se

[2016-09-27 08:53] juniwalk commented on #373
@vyndalin What @paveljanda said is exactly right. Here is also small example I just created for you https://gist.github.com/juniwalk/49b27c438417855131063be87d3c7c6b

I recommend creating reusable components with datagrids inside so you don't clutter your presenters.

[2016-09-27 09:33] vyndalin commented on #373
@juniwalk thanks for your reaction. but there's this error **syntax error, unexpected ':', expecting ';' or '{'
 43: protected function createComponentUserGrid(string $name) : DataGrid**
@paveljanda I gave a try to that samples, but I had problems as well. It seems datagrid isn't installed as component correctly into project... I'm suspecting, that's my problem and I have to chceck if I'm using co

[2016-09-27 09:51] juniwalk commented on #373
@vyndalin That's because this is PHP 7 code.

[2016-09-27 10:08] dakorpar opened #374 "Real columns summary"
I'm thinking on writing correct columns summary, it's a bigger task so before implementing want to have some user input, so I don't spend time and you actually don't want it.
In my opinion Summary row should have all values considered from filters, and not just the ones displayed on page, we should also consider that it's not always only SUM, but maybe average or minimum, maximum. From what I see

[2016-09-27 13:07] #374 closed

[2016-09-28 19:28] petrparolek opened #376 "removed row still shown until refreshing, if onpage session is set"
Hi Pavel,

I have problem with removing row in datagrid, After removing row is still shown without id.

`
public function createComponentSimpleGrid($name) {
        // přístup ke komponentě VisualPaginatoru:
        $visualPaginator = $this['visualPaginator'];
        // přístup k samotnému paginatoru:
        $paginator = $visualPaginator->getPaginator();

        $grid = new DataGrid($this, $nam

[2016-09-28 21:05] petrparolek commented on #376
here is my sample sandbox, which I promised you.
[datagrid sandbox.zip](https://github.com/ublaboo/datagrid/files/499267/datagrid.sandbox.zip)

[2016-09-29 08:41] pitr82 opened #377 "Two foreign key don't filter"
@PavelJanda

používám Kdyby/Doctrine
Nette 2.4
datagrid master

mám tabulku, kde mám dvá cizí klíče na uživatele:

[code]

A chci filtrovat:
[code]
Tak mi to pořád filtruje pomoci cizího klíče user i když chci pomoci smsUser

[code]

[2016-09-29 08:47] juniwalk commented on #377
@pitr82 Jak skládáš queryBuilder pro grid? V LEFT JOINu máš i.user a ne i.smsUser

[2016-09-29 09:59] pitr82 commented on #377
@juniwalk jasně, moje chyba neuvědomil jsem si to... close

[2016-09-29 09:59] #377 closed

[2016-09-29 18:49] petrparolek commented on #376
Umm, well, It's problem with my code, same issue with version ublaboo-grid 4.0.5 with nette version 2.3.11

[2016-10-02 13:37] lukascellar opened #379 "Outer filter templating"
In current version, it is not possible to customize outer filter template with template blocks. For example if someone want to use other layout as col-sm-6 or need to manually render more complicated filter. It would be nice feature to modify this part of template with template blocks.

https://github.com/ublaboo/datagrid/blob/master/src/templates/datagrid.latte#L30

[2016-10-03 06:20] CZechBoY opened #380 "Feature: add ability to filter by both date & time in one filter"
Now only filter by date is possible. I would like to filter by time too.

[2016-10-03 07:31] CZechBoY opened #381 "Weird filtering [forum repost]"
https://forum.nette.org/cs/25444-ublaboo-datagrid-mocny-rychly-rozsiritelny-hezky-anglicky-dokumentovany-datagrid?p=11#p179586

Code:
https://github.com/CZechBoY/ublaboo-datagrid-bug-filtering

1) try to filter "produkt2"
2) try to filter ""
3) bug: still filtering by "produkt2" ????

[2016-10-03 07:39] #364 closed

[2016-10-03 07:42] #373 closed

[2016-10-04 09:25] repli2dev commented on #352
@paveljanda Thank you :-)

[2016-10-04 13:06] neo82nd commented on #363
I can confirm that in v4.4.18 it works again

[2016-10-05 08:26] #363 closed

[2016-10-05 08:58] juniwalk commented on #368
Hello, sorry for the delay,
I reviewed your issue and it seems everything is working properly. It has been problably fixed before I got to check it out.

I am closing this. Let me know if your issue is still there.

[2016-10-05 11:24] juniwalk commented on #360
@Danoha Hello, do you have inline edit enabled?

[2016-10-05 11:30] juniwalk commented on #353
@xpackal5 Could you be more specific? What error?

[2016-10-05 15:20] xpackal5 commented on #353
Wrong latte macro. {_$column->getName()} may be not allowed.

[2016-10-05 15:21] paveljanda commented on #353
@xpackal5 Can you send a PR please? (`|translate`)

[2016-10-05 15:24] xpackal5 commented on #353
Sorry, dont understand (ale můžem psát česky) :-)

[2016-10-05 15:25] paveljanda commented on #353
Mohl bys poslat PR, prosím? (`|translate`)

[2016-10-05 15:34] xpackal5 commented on #353
Zajímavé je, že když vygeneruju z latte makra cache pomocí latte compilleru tak to normálně přeloží a funguje bez chyb

[2016-10-05 15:36] xpackal5 commented on #353
Tak jsem to zkoušel zopakovat a nepřeloží :-( Přeloží to jenom když z konstrukce {_$ vyhodím

[2016-10-05 20:03] paveljanda commented on #353
Moment, jakou používáš verzi datagridu?

[2016-10-06 11:31] xpackal5 commented on #353
4.4.12 ale teď koukám,že na webu je 4.4.16, instaloval jsem to přes composer tuším, že někdy před 2 týdny

[2016-10-06 16:36] m3v opened #385 "Ublaboo\DataGrid\Row -> getValue($key)"
upravit

[code]

return tak, aby key rozdelilo napr. z t.id na id – takto bude fungovat $grid->setPrimaryKey(‚t.id‘); pri joint selectoch, dik

[2016-10-09 20:43] #385 closed

[2016-10-09 20:43] paveljanda commented on #385
Thanks for reporting us!

[2016-10-09 21:27] paveljanda commented on #381
`$form->getValues()` apparently does not behave as `$form->getHttpData()`. `$form->getValues()` gives bigger priority to url query parameters (although the form is only of type POST), which is pretty weird. I will put that on nette forum.

[2016-10-09 21:32] paveljanda commented on #379
You can send a PR. :)

[2016-10-09 21:39] #366 closed

[2016-10-09 21:53] paveljanda commented on #354
@xpackal5 It does work for me. Can you sand here a ZIP with sandbox-like app, where it is broken? Thanks!

[2016-10-10 11:13] xpackal5 commented on #353
Tak dnes aktualizace na PHP5.6, nette 2.4 datagrid  4.4.20 a chybu to vyhazuje stále

[2016-10-10 12:42] juniwalk commented on #353
@xpackal5 Co používáš za translator?

[2016-10-10 13:15] xpackal5 commented on #353
https://github.com/h4kuna/gettext-latte

2016-10-10 14:42 GMT+02:00 Martin Procházka <notifications@github.com>:

[2016-10-10 13:58] juniwalk commented on #353
@xpackal5 Jakou verzi nette jsi měl před aktualizaci? Též 2.4?

[2016-10-10 14:22] xpackal5 commented on #353
2.3

2016-10-10 15:58 GMT+02:00 Martin Procházka <notifications@github.com>:

[2016-10-11 09:38] ryucz opened #388 "Collapsible filters"
Filtering form (outer rendered) could be collapsible. Maybe it could even react to hover.

[2016-10-11 10:08] dakorpar opened #389 "Session filter: Filter not found when modifying grid columns"
I know what's issue there, but I'm just wondering is it really neccessary to throw exception for this?
As live project always changes you have to modify your grids as well, and then you need to clear session data for all users, probably easiest solution would be to change grid name, but what I'm thinking is that maybe this should be silent error, maybe just ignore that field and continue on, like

[2016-10-11 10:11] juniwalk commented on #389
I am 👍 for this, had multiple issues with this.

//cc: @paveljanda

[2016-10-11 10:28] paveljanda commented on #389
Sure, the datagrid can silently drop the session value and continue executing script.

[2016-10-11 10:50] juniwalk commented on #389
@dakorpar Could you post the exception here please? I jumped on the opportunity to fix this and now I don't know how to replicate the issue. :D

[2016-10-11 20:44] #354 closed

[2016-10-11 20:55] xpackal5 commented on #354
Podařilo se najít příčinu? Nebo je problém někde u mě?

2016-10-11 22:44 GMT+02:00 Pavel Janda <notifications@github.com>:

[2016-10-11 20:57] paveljanda commented on #354
@xpackal5 Aha, tys mi poslal zip do mailu. Mrknu. Já jsem myslel, že už jsi to pustil z hlavy..

[2016-10-11 21:04] xpackal5 commented on #354
Je to kompletní projekt, nejvíc gridů je třeba na ConfigModulu.

[2016-10-11 21:05] paveljanda commented on #354
CHYBA: místní DICOM server neběží....

[2016-10-11 21:05] paveljanda commented on #354
Prosím zkus udělat příklad na sandboxu třeba s nějakou sqlite databází..

[2016-10-11 21:08] xpackal5 commented on #354
To je jenom varování, že něběží síťový démon. Je to aplikace na ovládání
DICOM serveru (medicínská obrazová data). Zkus nahoře menu "Nastavení" a
pak "Správa SOP tříd". Funguje to i bez toho démona

2016-10-11 23:05 GMT+02:00 Pavel Janda <notifications@github.com>:

[2016-10-11 21:10] xpackal5 commented on #354
jinak díky za ->addAttributes() u toolbar buttonu :-)

2016-10-11 23:05 GMT+02:00 Pavel Janda <notifications@github.com>:

[2016-10-11 21:11] xpackal5 commented on #354
jj udělám, ale dneska to už nestihnu. tak to kdyžtak pošlu během zítřka..

2016-10-11 23:05 GMT+02:00 Pavel Janda <notifications@github.com>:

[2016-10-12 08:27] dakorpar commented on #389
You can replicate this by just changing column name

[2016-10-12 08:42] xpackal5 commented on #354
Udělal jsem úplně jednoduchý grid na jedné tabulce a ten funguje -
implementoval jsem víceméně vše co bylo v gridech, kteér mi nefungovali
(kromě translatoru) a běží to. Každopádně všimnul jsem si, že nejde navěsit
na dynamicky generovaný prvek žádný event (ani pomocí
$(document).on("click",".prvek",function(e){ .... }); takže budu hledat
chybu u sebe v DOM. Dám vědět jak to dopadlo.
PS: odkaz na

[2016-10-12 12:29] juniwalk opened #391 "Sorting by multiple columns"
Add option to sort by multiple columns using simple logic.
`No sort` -> `sort ASC` -> `sort DESC` -> `no sort`

On `DataGrid` class add method `DataGrid::setMultiSortable($multiSortable = TRUE);`.

[2016-10-12 18:22] paveljanda commented on #381
Fix is in master. WIll be in next release. Thanks for reporting this issue!

[2016-10-12 18:22] #381 closed

[2016-10-12 21:16] paveljanda commented on #391
Can you do that? :)

[2016-10-13 07:06] juniwalk commented on #391
Well I can try? :)

[2016-10-13 19:10] petrparolek commented on #376
Well, problem was in my model - right is return $q->execute(), not return $q->getResult().

[2016-10-13 20:07] petrparolek commented on #376
No, it doen't help

[2016-10-13 21:55] petrparolek commented on #376
silly mistake, I haven't read documentation carefully!
In model has to be
return $this->repository->createQueryBuilder('er');

[2016-10-13 21:55] #376 closed

[2016-10-14 08:34] wohral opened #393 "Wrong function name deleteSesssionData"
I found function deleteSesssionData with triple "s". Maybe it's not wrong, but It makes me little bit confused

[2016-10-14 08:36] juniwalk commented on #393
@wohral Yeah that is a typo.

[2016-10-14 18:29] #389 closed

[2016-10-17 08:15] #379 closed

[2016-10-17 08:36] #393 closed

[2016-10-17 09:48] juniwalk commented on #329
Implemented in 79716f7.

[2016-10-17 09:48] #329 closed

[2016-10-17 10:46] attreid opened #395 "Syntax error, unrecognized expression: .datagrid-tree-item[data-id=]"
When datagrid uses string as id and id contains character '.', JS throwing
[code]

For fix change line https://github.com/ublaboo/datagrid/blob/master/assets/src/datagrid.coffee#L376
to

[code]

[2016-10-17 11:17] juniwalk commented on #395
Could you send pull request?

[2016-10-17 11:26] attreid commented on #395
Should I fix just coffee script or coffee and compile js and min.js?

[2016-10-17 11:27] juniwalk commented on #395
@attreid Please compile JS too. Thanks!

[2016-10-17 12:00] attreid commented on #395
I sent PR

[2016-10-17 12:15] juniwalk commented on #395
Fixed in #396 by a89ca8b.

[2016-10-17 12:15] #395 closed

[2016-10-18 06:34] attreid commented on #395
Can you release stable version?

[2016-10-18 07:34] juniwalk commented on #395
@attreid We are making changes to release ne major version. As we currently do not branch major versions we can't.

//cc: @paveljanda

[2016-10-18 08:28] paveljanda commented on #395
@attreid You can use your own fork for now and when new version (`v5.0.0.`) is released, you can switch back to the original repo.

[2016-10-18 09:25] attreid commented on #395
ok, no problem, thanks

[2016-10-19 13:34] sikulam opened #397 "Action icons"
Hi,
please it´s any options how to set icon as `<i class=fa fa-arrows-v>`  instead of `<span class=fa fa-arrows-v>`

Icons for setSortable is in tag <i> and other action button is in <span>

[2016-10-19 13:51] juniwalk commented on #397
@sikulam Hi, what is wrong with span?

[2016-10-20 05:16] sikulam commented on #397
@juniwalk Hi, wrong is nothing, but i use css framework witch works diferent with span and i tag. It´s some option how to change span to i in actions?

[2016-10-20 07:30] juniwalk commented on #397
@sikulam To my knowledge, there is not, but I think we could switch to using `<i>`, I use it everywhere too. @paveljanda what do you think?

[2016-10-20 07:30] paveljanda commented on #397
@sikulam I have to disappoint you - you have to use your own template.. Isn't there really any chance to use `<span>`? I think that most css frameworks are written really modularly..

[2016-10-20 07:31] paveljanda commented on #397
But we are using `i` tag, don't we?

[2016-10-20 07:33] paveljanda commented on #397
Oh, I see. `ColumnStatus` uses `span`. Also `FilterDate` and `FilterDateRange`. I will fix that.

[2016-10-20 07:39] #397 closed

[2016-10-20 07:39] paveljanda commented on #397
@sikulam Is it all righ now?

[2016-10-20 08:47] vkDesign opened #398 "Inline editation does not work when using tree-view"
Is it possible to enable the inline-edit function in the tree-view?
Thanks for the answer,
Vili Koprivec

[2016-10-20 09:23] SiViN opened #399 "Automatically expand specified rows on tree-view"
Zdravim, neslo by pridat neco co by otevrelo pri pouziti tree-view automaticky nejakou vetev, popr. vice vetvi? Uzivatel se slozite proklika pres nekolik urovni, kde pak klikne na detail. V detailu pak klikne zpet a cely strom je zase zavreny a musi zacit s proklikavanim znovu :( Ja mu tlacitko zpet nabizim a vim i jakou vetev otevrit,takze bych si v odkazu predal co zpet otevrit, bohuzel jsem ale

[2016-10-20 13:19] sikulam commented on #397
@paveljanda Perfect thanx for help

[2016-10-21 11:03] zemnet opened #401 "How to add custom component in ItemDetail"
Hi,
Can I add custom component created in presenter into ItemDetail?

In template maybe with call the control macro:
`{block detail}
  {control test}
{/block}`

Thank you.

[2016-10-21 11:45] juniwalk commented on #401
@zemnet Well, try to do it like this: `{control $control->getPresenter()->getComponent('myCoolComponent')}`

[2016-10-21 12:18] zemnet commented on #401
done, works good.
thank you...

[2016-10-21 12:18] #401 closed

[2016-10-26 17:34] matoni555 opened #402 "Support hiding columns when $grid->setRememberState(FALSE)"
It is possible to support hiding columns while $grid->setRememberState(FALSE) is set?
I use $grid->setRememberState(FALSE) because I don't want to save grid state permanently.

Thank you
Tomáš Matonoha

[2016-10-29 21:22] martinknor opened #403 "Add option for setRenderer on summary"
![image](https://cloud.githubusercontent.com/assets/2004222/19832833/7b7803ae-9e2e-11e6-8ad3-0cf974746b15.png)

[2016-10-31 12:30] juniwalk commented on #398
@vkDesign Hello, I wanted @paveljanda to give you a response but he is bussy.

I think it was not intended so. Tree view is special case in which many more features of DataGrid do not work.

[2016-10-31 12:34] juniwalk commented on #402
@matoni555 Hello,
only way this would be possible is to add information about hidden column into URL. This is something @paveljanda should decide.

[2016-10-31 12:35] juniwalk commented on #399
@SiViN To nebude tak lehké, strom se nenačítá najednou ale ajaxove větev po větvi. To znamená že bys musel nějak uložit cestu té větve a pak to postupně načítat.

[2016-10-31 12:37] juniwalk commented on #399
Similar issue: #234

[2016-11-01 15:47] dakorpar commented on #391
When do you expect this will be done? Just bumped into few grids where I need that :)

[2016-11-02 09:43] #391 closed

[2016-11-03 14:33] zemnet opened #410 "DataGrid::setDefaultFilter() can not operate with \DateTime"
Hi,
I found a little bug.
If I want to add Default values for Filter DateRange,
app ends with error:
`Fatal error: Call to a member function setTime() on a non-object in /home/testisp/nette/vendor/ublaboo
/datagrid/src/DataSource/DoctrineDataSource.php on line 178`

`        $from  = new DateTime();
        $to  = new DateTime();
        $grid->setDefaultFilter(['datumVystavenia'=>['from'=>$from,'

[2016-11-04 08:24] juniwalk commented on #410
Well, I looked into it and it seems that DataGrid is not ready for `DateTime` instance for default values. This is little bigger issue, @paveljanda what do you think?

[2016-11-04 08:26] paveljanda commented on #410
@juniwalk It is really not. Adding issue into milestone `v5.0`.

[2016-11-04 08:28] juniwalk commented on #410
@paveljanda You don't need to prefix the title with "bug", there is a label for that. :)

[2016-11-04 17:39] sikulam opened #412 "please remove console.log from datagrid.js"
Hi,
please remove
console.log(data);
from datagrid.js line 166

Thanx

[2016-11-04 17:41] #412 closed

[2016-11-04 17:41] paveljanda commented on #412
Right.
Will be in next release.

[2016-11-04 19:44] dakorpar commented on #402
I see this could be useful in url

[2016-11-04 20:05] paveljanda commented on #402
There are more looks on that situation (setRememberState(<bool>)). Things, that could maybe stand alone:
1, Use session and remember stuff (in general)
2, Remember filters
3, Remember pagination
4, Remember page
5, Remember per-page
6, Remember hidden columns

And the question is - should they stand alone?

[2016-11-04 20:19] dakorpar commented on #402
Well filters and pagination has to it's crucial because you have to be able to copy paste link to someone.
hidden columns could be usefull but it's not crucial...
In setRememberState would also be usefull to define which parts you want to save as well and which maybe not. Also IMHO if something is saved in session as soon as restored url should change to that as well...

[2016-11-05 14:24] PingusPepan opened #414 "Can't sort default sort column by ASC if the default is set to DESC"
I use version 4.4.22
When I use $grid->setDefaultSort(['id' => "DESC"]); I can't click on column Id sort by ASC because the link points to sort => FALSE.
The culprit seems to be in `src/Column/Column.php` function `getSortNext()`

I modified the function to this:
[code]

This seems to work fine but I don't know if it will work in the new multisort version, so that's why there is no PR.

[2016-11-09 07:43] #410 closed

[2016-11-09 07:46] paveljanda commented on #399
@SiViN jak psal @juniwalk, větve se načítají ajaxově, právě aby se při každém requestu nemusely všechny tahat.

Máš několik možností:
1, Udělat detail v modalu
2, Odkazovat detail do jiného okna a při uložení překreslit konkrétní větev

Bohužel neplánuji implementovat takovou funkcionalitu.

[2016-11-09 07:46] #399 closed

[2016-11-09 07:49] paveljanda commented on #353
@xpackal5 Zkus to prosím bez toho translatoru, případně datagridu nastavit jiný translator (zkus ten datagrid-nativní, SimpleTranslator). Pokud to bude tím, tak ti nějak ten h4kuna ničí Latte macro.

[2016-11-09 08:05] #414 closed

[2016-11-10 06:32] michallohnisky opened #415 "Ability to use filtered data in another component"
Hi,

I want to render a grid and a chart on one page. How can I get the filtered, ordered, not paginated datasource from the grid?

I tried to create custom export which only saves the items into variable for later use and then I called
[code]
The problem is, that the filtering and ordering is then applied on the datasource twice: (1) `handleExport` and (2) `render`. MsSQL (btw: I would like to us

[2016-11-12 19:08] igorpocta opened #416 "Bootstrap 4 Support"
Add the render file for Bootstrap 4

[2016-11-12 19:22] juniwalk commented on #416
Hello, I think it would be little premature. Bootstrap 4 has ben in alpha for over a year if I remember correctly. I would not hurry this up.

Ofcourse @paveljanda could have something else in mind.

[2016-11-13 10:48] #276 closed

[2016-11-15 09:36] juniwalk opened #417 "Make test unix compatible & add code coverage generation"

[2016-11-15 10:10] #388 closed

[2016-11-15 10:11] paveljanda commented on #403
@martinknor There will a new functionality in 5.0.0 in couple days - AggregationFunctions. These will allow custom aggregation function rendering.

[2016-11-15 10:11] #403 closed

[2016-11-15 10:11] paveljanda commented on #416
@igorpocta Please reopen this issue when Bootstrap4 is stable.

[2016-11-15 10:15] paveljanda commented on #415
@michallohnisky You should probably use your own template for datarid.

Or you can extend DataGrid class, take the datamodel from parent and somehow alter it, so the parent datagrid will have the paginated data and your won't.

No better options comes to my head.

[2016-11-15 10:15] #415 closed

[2016-11-15 10:18] paveljanda commented on #353
@xpackal5 Any progress?

[2016-11-15 12:24] xpackal5 commented on #353
omlouvám se, zaoměl jsem na to zkusím to a dám vědět. Milan

[2016-11-16 14:17] #360 closed

[2016-11-16 14:55] #340 closed

[2016-11-16 15:06] paveljanda opened #418 "Send s PR to Nextras\Dbal with support of PDO"
It has implemented only `PgsqlDriver` and `MysqliDriver` and `MysqliDriver` is deprecated since PHP 5.6.

[2016-11-16 15:10] #417 closed

[2016-11-17 22:51] PingusPepan opened #419 "Unable to set placeholders for FilterRange types"
Nothing happens while trying to add placeholder for range filters.
[code]

[2016-11-17 23:04] #419 closed

[2016-11-23 13:30] misaon opened #421 "Filter by ID in datasource with JOINS"
Hello, i have some problem with filtering by ID. We have datasource builded from JOINS more tables.
When you try fitler by ID, you will get Exception (Integrity constraint violation: 1052 Column 'id' in where clause is ambiguous) in

[code]

Solution:
[code]

Exist any way how to filter by ID in Datasource with JOINS?

[2016-11-23 13:51] dakorpar commented on #421
when adding filter you shoud write full column name
so instead of ->setFilterText();
you can call >setFilterText('table.id');

[2016-11-23 13:54] misaon commented on #421
Thanks a lot 👍

[2016-11-23 13:54] #421 closed

[2016-11-25 15:13] xpackal5 commented on #354
Tak po dlouhé době jsem se dostal k hledání příčiny, protože mi to stále nefunguje. Hledal jsem rozdíly mezi aplikací, kde to funguje a kde ne, konflikty mezi knihovnama a prostě nic. V jedné to funguje a v jedné ne. Co jsem ale zjistil, že pokud vyberu jednu z těch optionů, tak se event change pro select[data-autosubmit-per-page] vyvolá, co se ale nestane je ten autosubmit přes $(this).parent().f

[2016-11-28 10:47] tomkralik commented on #368
Hello,
My problem persists **„Illegal offset type“ v nette\utils\src\Utils\Html.php:203**
I do not know creches can be a problem in version nette.
I have: Nette 2.3.10, PHP 5.6.25 and DataGrid Ublaboo is current.

Causing the problem  ->setIcon('trash-o')

Thank you

[2016-11-28 13:30] tomkralik commented on #368
Hello,
I performed some tests and found that the problem is really in version nette.
I used Nette 2.3.11 and the problem is gone.

Thank you for your time.

[2016-11-28 13:30] #368 closed

[2016-11-28 13:54] juniwalk commented on #368
Great! :)

[2016-11-30 09:07] f3l1x opened #422 "Github Releases"
Hi, good job btw. I've noticed that you are not follow standard github release process.

@componette fetch these releases and display them. It looks great.But at your case it does not.

![selection_003](https://cloud.githubusercontent.com/assets/538058/20746116/bde02a7c-b6e4-11e6-8d11-f0ffc3a75187.png)

What do you think?

[2016-11-30 09:09] paveljanda commented on #422
If you look at the releases page (https://github.com/ublaboo/datagrid/releases), you would see that @juniwalk started already that convention for this repo.

[2016-11-30 09:09] #422 closed

[2016-11-30 11:32] juniwalk commented on #422
@paveljanda It is not visible to others yet :)

[2016-11-30 11:45] paveljanda commented on #422
Really? Sorry, my fault.

Anyway, we already started these description-y releases.

[2016-11-30 12:34] f3l1x commented on #422
@paveljanda @juniwalk Good job. Keep going. :+1:

[2016-12-02 11:43] Blizard opened #423 "Add a template for material design"
Hi,

it could be fine to **choose a different type of template** for dataGrid. Now it supports only bootstrap version of template.

There is a lot of design issues if I use the bootstrap template (default in dataGrid) in material design using [http://materializecss.com/](http://materializecss.com/).

[2016-12-02 12:42] paveljanda commented on #423
Sure I would like to add more designs, but there are bigger priorities.

As always, we would welcome a pull-request! :)

[2016-12-02 12:46] juniwalk commented on #423
@paveljanda There are also some problems with keeping those designs up-to-date, as we talked about. :)

[2016-12-05 12:37] paveljanda commented on #353
@xpackal5 Povidlo se? :)

[2016-12-07 15:12] juniwalk commented on #422
@f3l1x Is this better? :) https://componette.com/ublaboo/datagrid/

[2016-12-07 15:28] f3l1x commented on #422
Fabulous. 👍

[2016-12-07 19:15] Ivorius opened #426 "Checkbox range selection"
Something like

[code]

[2016-12-07 22:04] juniwalk commented on #426
Hello @Ivorius, thanks for the suggestion. I'll leave that for @paveljanda to check it out.

[2016-12-08 11:38] kravcik opened #427 "Export button with no escape"
![image](https://cloud.githubusercontent.com/assets/10499130/21008638/da48c700-bd42-11e6-94af-0394d176bd1b.png)

$grid->addExportCsvFiltered(\Nette\Utils\Html::el('span')->class('fa fa-arrow-down fa-fw') . ' export filtrů', 'smlouvy_export.csv', 'windows-1250', ';');

I guess in older version this work fine (4.3, 5.0 doesnt). Its possible turn off escape. Or there is otherway. On first demopage -

[2016-12-08 11:48] kravcik commented on #427
Ok, its possible via setIcon(), I see now why is escaped by translator.

Sorry for pointless issue.

[2016-12-08 11:48] #427 closed

[2016-12-09 08:46] matej116 opened #429 "Filtering with diacritics is case sensitive in DIbiFluentDataSource"
Using collate utf8_bin is breaking filtering with words containing diacritics - utf8_bin is not case sesnitive, but utf8_general_ci is. And by the way, why is there this line after all? Why not just use utf8_general_ci even for words containing non-ASCII characters?
https://github.com/ublaboo/datagrid/blob/master/src/DataSource/DibiFluentDataSource.php#L183

[2016-12-09 09:14] juniwalk commented on #429
Related #428

[2016-12-12 14:52] jarda256 opened #431 "DoctrineDataSource joining table and count"
Hi, I have more like question than functional issue. I would like to get informations about entity Site and join to it count of entities group, which are connected to Site. For example. i have Site A and Groups a1,a2,a3,a4. So i wanna see informations about Site and Count of groups 4 in datagrid. My query for DoctrineDataSource looks like this. Thaks for any help.

P.S.: I hope, I made myself clea

[2016-12-13 09:32] juniwalk commented on #431
@jarda256 Hello,
you cannot join like this, you can either use `->leftJoin('s.groups', 'g')` or you will have to add ON clause like in normal SQL.

If you have association `groups` on you Site entity, then just use `COUNT(s.groups) groupCount` and don't join it. Also I think you will need groupBy for this to work properly.

And lastly, I don't know if `DoctrineDataSource` can handle selecting part

[2016-12-13 13:34] jarda256 commented on #431
@juniwalk Hi,
at first, thaks for quick reply and good advice. I am begginer in this so thats why i made that mistake, but now i get it :)
And yes DoctrineDataSource can hadle partial.

[2016-12-13 22:52] juniwalk commented on #431
@jarda256 Ah, I see, I am glad it worked for you!

[2016-12-15 17:04] xpackal5 commented on #353
Simple translator funguje. Milan

[2016-12-16 06:15] sikulam opened #433 "Documentation web"
Please fix web with documentation
http://ublaboo.org/datagrid/

Server Error
Error 500
Tracy is unable to log error.

[2016-12-16 13:54] jarda256 commented on #431
@juniwalk Well...it seemed working till I tried add count column to grid. Maybe if I show some code (from another entity but same problem) someone can see where is bug. Maybe DoctrineDataSource just can't hadle count :/ Then I have a question. Can I add custom column (make fucntion for that count and add it..or something like that)?

/-----------------------------------------------------------/

$

[2016-12-17 15:07] juniwalk commented on #431
@jarda256 Problem is, `SELECT r, COUNT(c.id)` will NOT return just entity, but also that count, so it will not be list of entities but list of lists in which is entity and that count. That is something that DataGrid does not expect, it wants just list of entities.

You could add method `getCountChecks()` to that entity and just do the count in the PHP. You will have to join those checks in select

[2016-12-17 16:46] jarda256 commented on #431
@juniwalk So leave that query with join but `SELECT r,c` but I have now clue for that method and using it with grid. Can you give me a hint please

[2016-12-17 17:46] juniwalk commented on #431
@jarda256 DataGrid does not care about the properties you have in the entity, it uses Symfony/PropertyAccessor, so if you create method `getCountChecks` that would return the number and then add column named countChecks then it will get the value from that method, it does not have to be column in database.

[2016-12-18 23:23] jarda256 commented on #431
@juniwalk Well I took your advice and make this. But it not seemed to be correct. Grid column is empty, but when i uncomment that ` dump($count);` I have there correct nuber twice (both from tracy-dump). Any idea why?

$grid->addColumnNumber('countChecks', 'countChecks', 'countChecks');
/----------------------------------------------------------------/
$query = $this->em->createQueryBuilder()

[2016-12-19 01:18] juniwalk commented on #431
@jarda256 Don't assign it to `$countChecks`, you don't even need that property, just return that count from that method.

[2016-12-19 02:49] jarda256 commented on #431
@juniwalk Well, that works... You are awesome. I am so thankful. Thank you so much for your help.

[2016-12-19 02:49] #431 closed

[2016-12-19 09:10] juniwalk commented on #431
@jarda256 I am glad it worked for you. :)

[2016-12-20 16:24] paveljanda commented on #433
Sorry, fixed

[2016-12-20 16:24] #433 closed

[2016-12-20 17:09] #426 closed

[2016-12-20 17:09] paveljanda commented on #426
@Ivorius Can you try assets from master branch? :) Is it ok?

[2016-12-21 13:05] paveljanda opened #434 "Use different convention of attributes array"
[code]
=>
[code]

[2016-12-31 16:54] Ivorius opened #438 "ColumnStatus - disable translate option"
How can I disable translation for option in ColumnStatus?

[2017-01-01 00:35] misaon commented on #423
Pavel, can you make some methods for create thirds design? I like to create some templates for Foundation framework, materialize, Metronic etc. I will send PR.

[2017-01-01 00:39] misaon commented on #285
Progress? I like to help you with it.. 😊

[2017-01-01 10:52] paveljanda commented on #423
@misaon As for now, simply creating new datagrid.css styles should cover many desing themes. RIght? For example: datagrid.materialize.css, datagrid.metronic.css etc.

[2017-01-02 08:08] misaon commented on #423
Materialize have own css styles, its a CSS framework. You need include css into html head and change table class names etc. We need edit latte files.

[2017-01-02 08:56] paveljanda commented on #423
@misaon Any idea about using different classes and same layout?

[2017-01-02 18:48] misaon commented on #423
hm, what about different latte templates?

[2017-01-03 17:42] jarda256 opened #440 "add spinner to columnStatus with onChange"
Hi, I would like to ask, if there is any possibility to add datagrid-spinner to columnStatus with onChange. Thanks

[2017-01-04 11:29] jarda256 opened #441 "HideColumn not woring in one grid but works in another"
Hi, I got a problem. I have two grids (not on same site). For one hiding columns works but for another doesn't. setDefaultHide also doesn't work. What can be wrong? Both same grid settings. This is not working grid.

$grid = new DataGrid($this, $name);
        $grid->setPrimaryKey('id');
        $source = new DoctrineDataSource($this->registrations, 'id');
        $grid->setDataSource($source);

[2017-01-04 12:13] jarda256 opened #442 "DoctrineDataSource filter by method from entity"
Hi, i got function `getCountChecks()` in my entity and i have it displayed in grid by `$grid->addColumnNumber('countChecks', 'Registrováno', 'countChecks');` but what if i want to add filter to this (like filterRange)? I can't because it needs to be in database. Or can it be done somehow?

function getCountChecks()
    {
        $count = $this->getChecks()->count();
        return $count;
    }

[2017-01-04 12:45] juniwalk commented on #442
@jarda256 Hello, sadly no, you need to use SQL to filter this. It should not be problem as you are able to create custom callback for creating WHERE clause.

[2017-01-04 12:52] jarda256 commented on #442
So i need to add that count to database or? I just don't know what do you meen by custom callback. If it's not in database I can't it to SQL.

[2017-01-04 13:08] juniwalk commented on #442
@jarda256 Well if I remember correctly, those checks are entries in database aren't they? Then you can do simple COUNT(x) can't you?

[2017-01-04 13:16] jarda256 commented on #442
@juniwalk Correct checks are entities joined with registration entity. So maybe I can do something like WHERE COUNT(r.checks) or WHERE COUNT(c). But how to get it to dql?

$query = $this->em->createQueryBuilder()
            ->addSelect('r,c,leader,site,team,event')
            ->from(Registration::class, 'r')
            ->join('r.checks', 'c')
        return $query;
    }

[2017-01-04 13:25] juniwalk commented on #442
[code]

Nějak takto by to mělo vypadat asi. Není to otestované.

[2017-01-04 13:59] jarda256 commented on #442
@juniwalk I tried it, but realised one problem and one showed tracy. In filterRange you need to pass 2 params once with < and than with >. A second thing. setParameter() doesnt work. http://awesomescreenshot.com/02d67s01ec

[2017-01-04 14:14] juniwalk commented on #442
@jarda256 Then just modified that custom condition to accommodate two values.

[2017-01-04 14:39] jarda256 commented on #442
@juniwalk yea thats not a problem you just use $value['from'] and $value['to']...but you cant use  COUNT(r.checks) like that....at least I think that this is, what that error means

[2017-01-04 15:03] juniwalk commented on #442
@jarda256 No, invalidPathException is probably problem with `r.checks` in the COUNT, try `COUNT(c)` instead.

[2017-01-04 15:11] jarda256 commented on #442
I tried few things, but none of them wok... I have 2 rows. 1. count is 5 and second 23...but when i write from 6 i got that 23 row but instead of count 23 there is 1.

$qb->andHaving('COUNT(c.id) > '.$value['from']);
$qb->andHaving('COUNT(c.id) > '.$value['from'])->groupBy('c.registration');
$qb->andHaving('COUNT(c.id) > '.$value['from'])->groupBy('r.id');

[2017-01-04 21:08] paveljanda commented on #440
@jarda256 Maybe you can add a extra JS extension to your code. Something like [here](https://github.com/ublaboo/datagrid/blob/master/assets/dist/datagrid-spinners.js#L19).

A won't add that at the moment. I think the spinner should be triggered after these not-data-related action like pagination, resetting filter, etc

[2017-01-04 21:08] #440 closed

[2017-01-04 21:28] #353 closed

[2017-01-04 21:32] paveljanda commented on #441
@jarda256 `setRememberState(FALSE)` makes datagrid not use session, so it can not remember which columns are hidden a which are not.

[2017-01-04 21:32] #441 closed

[2017-01-04 21:36] paveljanda commented on #438
@Ivorius Is is translated by default (see [here](https://github.com/ublaboo/datagrid/blob/master/src/templates/column_status.latte#L21)) and could not be changed in PHP. You can send a PR. :)

[2017-01-04 22:34] juniwalk commented on #442
@jarda256 I think that is because the query breaks selected rows, you need to use postFetch to select associations.

[2017-01-04 22:38] juniwalk commented on #442
@jarda256 In this PR you can find more information. https://github.com/ublaboo/datagrid/pull/315

[2017-01-05 19:53] jarda256 commented on #442
@juniwalk I haven't found solution yet. But i'll keep trying and when I find it, i'll notice you. It can be useful

[2017-01-05 19:59] jarda256 opened #443 "handle delete with ajax will show grid without rows"
Hi, I have a problem. I have grid loaded with doctrineDataSource. And I have action delete. And connected request. But when I click delete row, all rows hide (One I wanted to delete is correctly deleted). When i change items per page, it shows again. So I really don't know, what's wrong.

protected function createComponentBasicDataGridChecks($name)
    {
        $grid = new DataGrid($this, $name);

[2017-01-05 20:11] jarda256 commented on #443
Ok, I am sorry...it seems like that was some magic of my browser

[2017-01-05 20:11] #443 closed

[2017-01-06 09:34] juniwalk commented on #442
@jarda256 Check that PR, you need to separate loading of main entity and the association entities using that `onDataLoaded` callback.

[2017-01-08 17:21] jarda256 commented on #442
@juniwalk I made it works.
//source
 public function getAllRegistrationsQuery()
    {
        $query = $this->em->createQueryBuilder()
            ->select('r')
            ->from(Registration::class, 'r')
        ;
        return $query;

$grid->getDataSource()->onDataLoaded[] = function () {
            $this->entityManager->getRepository(Model\Entities\Registration::class)
                ->cre

[2017-01-08 21:09] juniwalk commented on #442
@jarda256 Great! You are learning fast! Now learn how to register repositories into DI so you don't use EntityManager like that. :) It's cleaner that way.

[2017-01-08 21:55] jarda256 commented on #442
@juniwalk getAllRegistrationsQuery() is located in registrationFacade. I'll move onDataLoaded to facade and just call it like $this->registrationFacade->registrationOnLoadQuery(); that's right way, isn't it?

[2017-01-08 23:39] juniwalk commented on #442
I was refering to this: `$this->entityManager->getRepository(Model\Entities\Registration::class)`, you should register RegistrationRepository in DI and let DI autowire it into your code.

Oh and by the way, your onDataLoaded callback receievs loaded entities so you can use list of IDs to load just associations you want. This is not optimized. Check the PR I was refering to before.

[2017-01-09 00:51] jarda256 commented on #442
I don't use access like this. I have entity and facade for it. Like Registration.php and RegistrationFacade.php.

**Registration presenter**
`/** @var Model\Facades\RegistrationFacade @inject */
public $registrationFacade;

$grid->getDataSource()->onDataLoaded[] = function (array $registrations) {
            $this->registrationFacade->onLoadedRegistrationsAssociations($registrations);
        };

[2017-01-09 08:13] juniwalk commented on #442
@jarda256 Alright, that should not be a problem. However, in `onLoadedRegistrationsAssociations`, there is `select`, you should select `partial r.{id}`, not the whole `r`.

[2017-01-09 09:29] jarda256 commented on #442
I know, that I should, but when i use partial select and than select "full" entity somewhere else I got only partial, because it's saved in identity map

[2017-01-09 09:35] juniwalk commented on #442
@jarda256 But... you just selected full entity in first query `getAllRegistrationsQuery`, didn't you? OnDataLoaded is called after the first query is executed and finished.

[2017-01-09 09:39] jarda256 commented on #442
I did and I also know that ist after first query. But I am not sure if this can cause that "mapping problem" or not

[2017-01-09 09:48] juniwalk commented on #442
I am not sure but I don't think so. I use ti like that without problem. This is my onDataLoaded method:
[code]

[2017-01-09 17:44] jarda256 commented on #442
I found problem...big one...when i use it like this and use sort on leader.email for example...i'll get error, because sorting takes first load not on data load

[2017-01-09 21:45] jarda256 commented on #442
@juniwalk and one more thing if i can

[2017-01-10 08:56] juniwalk commented on #442
@jarda256 Sorting does not load data, what sort of error do you get? Your other problem seems to be nette related, you should take that to the forums or gitter.

[2017-01-10 09:48] #434 closed

[2017-01-10 11:50] jarda256 commented on #442
@juniwalk I got that error near 'leader.email' in select r,c from Registration join r.checks c...when leader, event,site is onDataLoaded I can't sort by it

[2017-01-10 12:35] juniwalk commented on #442
@jarda256 How about some more information? Tracy output would be best.

[2017-01-12 14:05] juniwalk opened #445 "InlineAdd: Right click on cancel button triggers the cancel event"
When you try to right click cancel button when inline adding, it will trigger the event and the row gets closed immediately.

It should get triggered only when I press left button and also on "up", not "down" if you know what I mean.

[2017-01-16 18:07] fistaro opened #446 "Treeview - including all invalidated snippets before each child group"
datagrid.js includes rutine for including invalidated snippet with child group, unfortunaltely it includes all other invalidated snippets. I dont know if it was minded to behave in this way.

[code]

[2017-01-25 07:42] radekdostal commented on #370
You need to add this code:

[code]

[2017-01-25 07:46] radekdostal opened #448 "Thrown exception while typing into filter of date"
...when autosubmit is on.
Ublaboo\DataGrid\Exception\DataGridDateTimeHelperException

v5.0.6, v5.0.7

In production mode, this error message is generated:
PHP User Notice: Use $presenter->sendPayload() instead of terminate() to send payload.

[2017-01-27 09:24] juniwalk opened #449 "Filters: Collapsing doesn't work with multiple grids on page"
ID handler is not unique to each datagrid. [See datagrid.latte](https://github.com/ublaboo/datagrid/blob/master/src/templates/datagrid.latte#L44)

[2017-01-27 10:18] #449 closed

[2017-01-29 22:05] aleszatloukal opened #450 "URL refresh - with params"
Pristupuji k datagridu se 2 ma parametry v url, z kterych si v action udelam promenne, url vypada nazorne:

`/deliveryitemlist?delivery_id=1&commission_id=23`

Vse funguje skvele, az do doby zmeny poctu polozek na stranku, nebo jine zmeny filtru. Pak se parametry z URL smazou. A z url zustane jen tohle, scim bohuzel bez parametru nemohu pracovat
`/deliveryitemlist?deliveryitemListGrid-per_page=20`

[2017-01-29 22:07] paveljanda commented on #450
@aleszatloukal Nepomohly by persistentní parametry?

[2017-01-29 22:18] aleszatloukal commented on #450
Ano, nastavuji si je takto:
[code]

a dale nasledne v datasource si taham data pro urcene delivery_id
`$grid->setDataSource($this->delivery->getDeliveryItemsListByDeliveryId($this->delivery_id));`

[2017-01-29 22:19] paveljanda commented on #450
@aleszatloukal A používáš tyto dva parametry jako persistentní, nebo ne?

[2017-01-29 22:19] paveljanda commented on #450
@aleszatloukal Pokud je nastavíš jako persistentní, zůstanou ti napříč requesty a nebudeš se o to muset starat.

[2017-01-29 22:21] aleszatloukal commented on #450
@paveljanda Oba parametry mam v Presenteru jako $private
Jak docilim pripadne toho, aby byli 'persistentni' ?

[2017-01-29 22:29] aleszatloukal commented on #450
Supr, parametru jsem dal jako @persistent a hodil je na public a uz to bezi, diky za pomoc 👍 ✋

[2017-01-29 22:42] aleszatloukal commented on #450
Fungovalo to, jak jsem potreboval, bohuzel jsem narazil na problem, ze dane parametry pouzivam v dalsich X action v presenteru, takze mi ten parametr nasledne hazelo i do URL, kde jsem jej nechtel, je tedy moznost to vyresit jeste jinak, nez tim persistent parametrem ?

[2017-01-29 22:51] juniwalk commented on #450
@aleszatloukal Zkus je `NULL`ovat tam kde je nechceš, tím je smažeš. Je to teda ale řešení naprd. Muset hlídat kde parametry budou a kde ne, namísto abys jen řekl kde budou.

[2017-01-29 22:56] aleszatloukal commented on #450
@juniwalk to mi prijde celkem nepohodlne, jelikoz mam v danem presenteru ~30 actions, lepsi by bylo dane parametry predat primo componente datagridu, aby si je k sobe zaregistroval, dalsi moznost mne napadla, resit to pomoci cookie..

[2017-01-29 23:20] JakubKontra commented on #450
Co to je za presenter když má 30 akcí? :)

[2017-01-30 00:04] aleszatloukal commented on #450
@JakubKontra je to presenter, pro zakazky, obstaravam v nem kompletni zakazky a veci okolo zakazek.. proto nechci pro kazdou action ten parametr nastavovat jako NULL

[2017-01-30 07:34] paveljanda commented on #450
@aleszatloukal Akce datagridu, formuláře datagridu, zkrátka všechny akce a signály kolem datagridu jsou separátní requesty. Pokud do nich chce člověk dostat nějaké další parametry automaticky, docílí kýženého efektu právě použitím persistentních parametrů, které se budou samy držet v url napříč requesty.

Bohužel nemám jednodušší řešení.. Jedině si podědit datagrid a úplně všude přidat nějaké doda

[2017-01-30 07:34] #450 closed

[2017-01-30 07:38] juniwalk commented on #450
@paveljanda Jako správný fajnšmekr by měl mít datagrid stejně obalený komponentou tak si persistentní parametry může dát tam :)

[2017-01-30 07:39] paveljanda commented on #450
No to mi nedošlo, dobrý nápad!

[2017-02-04 20:53] pavelgajdos opened #453 "Reset filter button shown when default filter set & in default state"
Let's have a select filter 'status' with the following options:

null or '' => 'All'
1 => 'Active'
0 => 'Inactive'

Without a default filter set, the reset button is shown only when 1 or 0 is selected in the filter. That's an expected behaviour.

Setting a default filter to ['status' => 1] causes a state when the reset button is shown for value 1 (the same applies to value 0), but not for null.

I

[2017-02-05 00:03] juniwalk commented on #442
@jarda256 Hello, this issue has been sitting here for a while without response. Have you resolved it?

[2017-02-05 00:06] juniwalk commented on #197
This has been fixed in #451.

[2017-02-05 00:06] #197 closed

[2017-02-05 00:09] juniwalk commented on #398
Hello, as I said before, tree view is a special case in which many of the features are not supported. I think we should separate tree view into completely new class, maybe even repository.

For now I am closing this.

[2017-02-05 00:09] #398 closed

[2017-02-05 10:15] jarda256 commented on #442
@juniwalk Hi, i am using this code. It seems to be only right solution if you want to filter by any column

        $grid->getDataSource()->onDataLoaded[] = function (array $registrations) {
            $this->registrationFacade->onLoadedRegistrationsAssociations($registrations);
        };

    public function getAllRegistrationsQuery()
    {
        $query = $this->em->createQueryBuilder()

[2017-02-05 14:40] juniwalk commented on #442
Yeah, this is how it should look. It is not pretty but filtering by entity method is really impossible. I am glad you sorted this out.

[2017-02-05 14:40] #442 closed

[2017-02-08 12:15] paveljanda opened #458 "Add setter which will tell datagrid to turn off session separately for columns hiding, sorting, filters and perPage"

[2017-02-09 18:23] #287 closed

[2017-02-10 14:05] devpcz commented on #161
@paveljanda I'm very sorry that I didn't reply (today I don't know what to reply). Thank you for your work.

[2017-02-14 12:19] dakorpar opened #462 "assableFilters what does assable stand for?"
I never heard for that word, google translate also, I found only this
http://www.urbandictionary.com/define.php?term=Assable
and just can't find any reason why this method is called that way?
I believe you wanted to call it assembleFilters maybe?
If so I can deprecate this function and name it correctly, just wished to check with you all before...

[2017-02-14 12:26] paveljanda commented on #462
@dakorpar Yes, thanks. :) Plase send a PR..

[2017-02-14 13:29] #462 closed

[2017-02-14 22:05] sikulam opened #465 "setSortable() + parameters"
Hi,
It´s possible add parameter to $grid->setSortable(). I need add next parameter. Somethings like addParameters(['foo'=>'bar']) used in action column.

[2017-02-14 22:06] paveljanda commented on #465
@sikulam Can you please rewrite your issue to english? Thank you. :)

[2017-02-14 22:32] paveljanda commented on #465
@sikulam You want to pass your custom parameters to the handler which takes care of sorting items?

[2017-02-14 22:59] sikulam commented on #465
@paveljanda Yes.
I try add fourth paramer with entity name. I´ve many grids in project and try to make only one function for sort.

[2017-02-14 23:02] paveljanda commented on #465
@sikulam Well there should be maybe a better approach in creating that datagrid in different presenter/component and soring entity name in that component/presenter property. Don't you thing?

There isn't currently implemented adding parameters to sortable handler path.

[2017-02-14 23:07] sikulam commented on #465
@paveljanda Ok i try it. Thanks for help and fast response.

[2017-02-14 23:51] #465 closed

[2017-02-16 13:29] MichalSeidler opened #466 "Redrawing itemDetail"
Existuje nějaký snadný způsob jak překreslit detail itemu bez toho aniž vy se zavřel?

Příklad: mám v detailu tlačítka, která když zmáčknu aktualizují entitu a potřebuju aby se znovu načetl detail snovými hodnotami. Když použiju $this->redrawItem($id); tak se sice překreslí ale detail se zavře.

[2017-02-16 19:41] misaon opened #467 "Global neon config + setTemplate params missing"
Some way to autowire some service as Kdyby/translation, var,  etc. into (filter)->setTemplate() method/template??

And exist way how set filter template for all select/text/... filters globally?
I prefer idea, create NEON config fot ublaboo datagrid with this options + set own icon class globally.

This solution is so ugly because you must configure all components separately.

Thanks a lot for res

[2017-02-16 21:27] lesho opened #468 "TypeError: ref is undefined"
Im getting error in the Firefox's firebug console:

Using
`     <script type="text/javascript" src="{$basePath}/js/jquery-2.2.4.min.js"></script>`

Version
` ublaboo/datagrid (v5.0.8)`

[2017-02-17 11:28] paveljanda commented on #468
@lesho As you can see - https://github.com/ublaboo/datagrid/blob/master/assets/dist/datagrid.js#L73-L75, the ref variable is defined. Haven't you modified the js file?

[2017-02-17 12:08] paveljanda commented on #467
@misaon DataGrid is a standalone component. It should not have a hardcoded dependency on nette/di.

There is more elegant solution, use your own datagrid component factory and set these templates and translators in the factory. Or extend ublaboo datagrid class.

No need to use DI..

[2017-02-17 12:08] #467 closed

[2017-02-17 12:08] paveljanda commented on #466
@MichalSeidler Can you write the issue in english please? :)

[2017-02-17 12:09] misaon commented on #467
And first question?

[2017-02-17 12:10] paveljanda commented on #467
Use some factory class and set all stuff you want right there.

[2017-02-17 12:12] misaon commented on #467
ok

[2017-02-17 16:27] misaon commented on #467
@paveljanda  Pavle, jak si do šablony pro filtr dotáhnu nějaké parametry. :D O tohle mi šlo v první fázi, jinak to s těma továrničkama chápu, já jen že máme celé systémy postavené na tvém datagridu a nastavit si někde globální classy pro ikony by bylo fajn, ale chápu tě :)

[2017-02-17 16:39] lesho commented on #468
That's right, I got it there, but TypeError present anyway

[2017-02-17 23:14] paveljanda commented on #468
@lesho A can not see on the docu web anything like that. What OS do you use? What browser? Can you show me the console after clering browser cache and refreshing page?

[2017-02-17 23:18] paveljanda commented on #467
@misaon Pokud si definuješ vlastní šablonu a té šabloně nastavíš proměnné, tak by měly být vidět i v includované šabloně, tuším. Je to tak?

Případně můžeš poslat PR s podobnou funkcionalitou, jako má `Action`:

[code]

:)

[2017-02-18 07:42] lesho commented on #468
- Checked on Windows 7 and linux  Fedora 25 on Firefox 51.0.1
- Cookies and Cached cleared
- Navigate to  [https://ublaboo.org/datagrid/edit](https://ublaboo.org/datagrid/edit) in new private window
- Open Firebug console
- Click on the data row
- Console output is same as in previous comments

[2017-02-21 13:34] sikulam opened #469 "Tree-view - toolbar button"
Hi,
it´s possible add toolbar with button in tree-view?

[2017-02-21 14:49] paveljanda commented on #469
@sikulam It is currently not. But you can send a PR. :)

[2017-02-21 16:02] romanmatyus opened #470 "DataGrid::globalSearch"
![image](https://cloud.githubusercontent.com/assets/1110294/23172853/8445a3f0-f857-11e6-9e90-c4519c9d025e.png)

Good idea?

[2017-02-21 16:06] paveljanda commented on #470
@romanmatyus Sure, with custom condition

[2017-02-21 16:17] romanmatyus opened #471 "DataGrid::addGroupTextareaAction example"
```DataGrid::addGroupTextareaAction``` is not in [example](https://ublaboo.org/datagrid/group-action).

[2017-02-21 16:18] paveljanda commented on #471
@romanmatyus So?

[2017-02-21 16:23] romanmatyus commented on #471
Can be added to a live demonstration?

[2017-02-21 16:24] paveljanda commented on #471
@romanmatyus Sorry, there are no styles for it. But it is pretty simple to use....

[2017-02-21 16:24] #471 closed

[2017-02-26 09:58] xpackal5 opened #472 "Chybné zobrazení datagridu při groupAction"
Ahoj. Chybka při zobrazování tabulek, kde se používají groupAction

Pokud je tabulka bez nalezených dat (např. defaultně vyfiltrovaná) -> chybí sloupec s fajfkama ke groupActions, jakmile filtr změním a nějaká data se objeví, přidá se sloupec s fajfkama, ale v hlavičce zůstane původní rozložení, tj sloupec s fajfkama se přiřadí k hlavičce prvního sloupce atd. děje se to jenom při Ajaxu. Nakonec po

[2017-02-26 12:25] lesho commented on #472
Did you tried to use required columns only from the tables? I have had similar issue with `select * from XYZ join ...`

[2017-02-26 16:30] paveljanda commented on #472
@xpackal5

1) Can you please write the issues in EN? Thanks.
2) What version of ublaboo/datagrid are you using? And version of assets?

[2017-02-26 16:56] xpackal5 commented on #472
Hi. Sorry for Czech, but it was faster for me :-)
I have fresh Ublaboo/Datagrid (5.0.8) and assets too. I am using model class that implements IDataSource a return Array.

[2017-02-26 17:02] xpackal5 commented on #472
You can view this bug on DEMO page too. Try [https://ublaboo.org/datagrid/?examplesGrid-filter%5Bname%5D=xxx] and then delete xxxx from filter. You can see that header of table is displaced Check collumns is on ID, ID is on NAME and NAME is on LINK
![2017-02-26-180131_1280x800_scrot](https://cloud.githubusercontent.com/assets/17193365/23341745/c5d3af5c-fc4d-11e6-8abc-f78ddf5872d5.png)

[2017-02-26 20:33] paveljanda commented on #472
@xpackal5 Aah, I see. Thanks for the report. WIll fix it.

[2017-02-27 10:54] romanmatyus opened #473 "Support NittroJS"
Add support for [NitroJS](https://github.com/nittro/nittro).

[2017-02-27 11:13] paveljanda commented on #473
@romanmatyus Will you? :)
I am not using it. Although I would love to support Nittro, I have no knoweladge of it and I won't be using it following couple of months.

[2017-02-27 11:20] romanmatyus commented on #473
Now it's just an idea. I too do not have knowledge. Yet ..
I will try implement support within programing new project.

[2017-02-27 11:20] paveljanda commented on #473
@romanmatyus Perfect.

[2017-02-27 14:29] juniwalk opened #475 "Unify arguments of ToolbarButton with ActionButton"
ToolbarButton has different pattern for arguments than ActionButton which makes it impossible to add method `removeToolbarButton`.

[2017-02-28 11:38] #475 closed

[2017-02-28 15:47] radekdostal opened #477 "Class Dibi\Helpers doesn't exists in dibi 2.x"
https://github.com/ublaboo/datagrid/blob/v5.x/src/DataSource/DibiFluentDataSource.php#L163
https://github.com/ublaboo/datagrid/blob/v5.x/src/DataSource/DibiFluentMssqlDataSource.php#L125

[2017-03-01 11:32] radekdostal commented on #477
Closed via https://github.com/ublaboo/datagrid/pull/479.

[2017-03-01 11:32] #477 closed

[2017-03-01 12:49] juniwalk opened #481 "Drop support for dibi 2.x"

[2017-03-03 07:53] misaon opened #484 "[IDEA] Context Menu"
Hello guys.
What do you think about the idea on the context menu of the operation for the rows (delete, edit, move up/down, etc.). It can be a substitute for select/multiselect actions (better UI impletmetace).
A similar solution uses tables in Redmine system and the solution I like.

![0](https://cloud.githubusercontent.com/assets/15806356/23542618/803509ec-ffee-11e6-9d9f-9ef40ee246d2.png)

What

[2017-03-03 08:06] juniwalk commented on #484
I don't like context menus on websites. Feels unnatural and also is not that great for mobiles.

[2017-03-03 08:42] paveljanda commented on #484
I also don't think is netural. Otherwise all other UI components would use it.

[2017-03-03 08:42] #484 closed

[2017-03-06 15:08] misaon opened #487 "Doctrine relations"
CZ:
Zdravím, řeším teď jeden problém. Začínám s Doctrine a mám problém s Ublaboo a vazbou ONE-TO-MANY. Konkrétně že jeden web může mít více "contents" (jazykových mutací). Inspiraci jsem čerpal zde:
https://ublaboo.org/datagrid/data-source#orm-relations
Toto skvěle funguje u vazby ONE-TO-ONE.

(Komponenta):
[code]

(Entita):
[code]

**Chci ale nyní udělat něco v tomto slova smyslu:**
(Komponenta):

[2017-03-06 15:10] paveljanda commented on #487
@misaon I'm so sorry, but these issues and pull requests are strictly in english.

If you need help in czech, please visit official nette forum.

[2017-03-07 14:39] jarda256 opened #489 "Tree-view doctrine data source + sorting"
Hi, I am begginer in nette, so that can be reason why I can't find out solution for my problem. I am using doctrine and I woud like to have tree-view for groups in my system. You got example for dibi source, but I can't "translate" it to dql. I hope you can help me. No idea how to do it. I don't know if I shoud write only column parent_id or make join. My entity looks like this. Thanks for any hel

[2017-03-09 11:32] jarda256 commented on #489
I made some progress, but still can't fix everything. I can now see tree-view and sort, but can't add children to item. Can you add working example of handleSort for tree-view to documentation? If I set children in db, it shows itself correctly, but it can't be moved.

[2017-03-09 14:07] jarda256 commented on #489
huh, nevermined some bug in matrix i guess...another pc works fine

[2017-03-09 14:07] #489 closed

[2017-03-13 09:33] juniwalk commented on #487
@misaon Musíš si buď napsat funkci, co ti vráti jen jednu entitu content nebo udělej:
[code]
Viz index 0, tím říkáš aby použil entitu na indexu 0.

[2017-03-13 09:33] #487 closed

[2017-03-14 10:16] elring commented on #468
Hi. I get this error too. On my project and on demo pages https://ublaboo.org/datagrid/ it's visible too - just click anywhere (for example on header of the grid) - Firefox/IE. Error variable is different (on demo page it's m), because they use minified/compiled versions of datagrid.js, but it's the same error.

[2017-03-14 10:41] elring opened #496 "Text filter doesn't work with DibiFluentDataSource and PostgreSQL"
When searching in text fields, grid in DataSource/DibiFluentDataSource.php in function applyFilterText at line 165 escapes column name with quotation marks. It results in SQL condition ("column" like '%aaa%').
But Dibi translates this to ('column' LIKE '%aaa%'), which (at least for PostgreSQL) means comparison of two strings, which results in selection of all records (when second string contains t

[2017-03-14 12:21] jasir opened #497 "Firefox: Event.path není definován"
Zdravím,

event.path není standartní property (jen v chrome) a proto ve firefoxu nefunguje (a hazí chyby).
Neumím coffeescript, takže si nedovolím skutečný pull request, ale zde je fix:

https://github.com/jasir/datagrid/commit/6c239f5f8096fa8ee2f2883b0d2267e67a8d865d

Díky za zvážení :)

[2017-03-15 21:10] xpackal5 commented on #472
I try this hack.
`<tr n:block="header-column-row">
    {var $isGroupAction=$control->hasGroupActions()}
    <th n:if="$isGroupAction" rowspan="2" class="col-checkbox">
	<input n:class="$control->useHappyComponents() ? 'happy gray-border' , primary" name="{$control->getName()|lower}-toggle-all" type="checkbox" data-check="{$control->getName()}" data-check-all="{$control->getName()}">
    </th>`
And

[2017-03-16 09:24] hlavacz opened #498 "Pagination refresh wrong when DataSource is Array"
In 5.1.1. when Datasource is Selection works fine, but if I use array as source, when filtering, pagination don't refresh at all.

[2017-03-16 10:47] hlavacz commented on #498
solved in pull request #490 / sorry

[2017-03-16 10:47] #498 closed

[2017-03-23 13:13] matej116 opened #503 "Support for column styling (<colgroup> or <col> elements)"
I would like to have table-layout: fixed width fixed column size, but I am not able to set width to the columns. In tables with table-layout:fixed is the width of the column determined by width of <td> or <th> in first row, but the first row in datagrid (mostly) is spanned accross all columns. Is there some solution to this I have overlooked? Thanks.

[2017-03-29 11:32] honzarac opened #508 "Support datasource ArrayCollection from Nextras/ORM"
When I use custom sql query in NextrasORM and set result as datasource, datatgrid try call getQueryBuilder on ArrayCollection and it throws:

Nextras\Orm\MemberAccessException
Call to undefined method Nextras\Orm\Collection\ArrayCollection::getQueryBuilder().

[2017-03-30 11:56] proki opened #509 "Group action loses grid state in URL"
Try [https://ublaboo.org/datagrid/?examplesGrid-page=3&examplesGrid-per_page=10&examplesGrid-filter%5Bstatus%5D%5B0%5D=2], select any item and then execute any group action.

After executing group action and reload grid component in presenter, grid lost filtering and paging state.

[2017-04-04 12:23] radekdostal opened #511 "Filter submit button is visible, if outer filter rendering is set"
Example:
[code]
If the filter isn't set, the filter submit button is visible under the button for collapse filter form.
Version 5.1.2.

[2017-04-15 05:24] BigOHenry commented on #468
Same here. You click anywhere and got that error.

[2017-04-18 21:12] romanmatyus commented on #10
Please, it's grop action in tree view already possible in this grid?

[2017-04-19 07:09] juniwalk commented on #10
@romanmatyus Hey, I am afraid there were no changes to the TreeView. It does not.

[2017-04-19 12:31] tomaswindsor opened #517 "More efficient date filtering"
Right now, the database data-source implementations use following approach to filter by date:
[code]
This approach (at least for some databases) prevents to use defined table index on the column which can cause major performance issue on big tables. Suggested alternative approach:
[code]

[2017-04-21 10:38] radekdostal opened #519 "Bad rendering of all columns into the first"
In some grids (I don't know why only in some) during the first view of the grid, all columns are rendered into the first, see:
![grid](https://cloud.githubusercontent.com/assets/375717/25274078/cd585352-268e-11e7-9894-82c595a86e90.png)
After going to the next page and going back, or after sorting, the rendering is ok. It was fine in the version 5.1.2.

When I remove ```n:block="tbody"``` from http

[2017-04-21 11:29] juniwalk commented on #519
Interesting, I will look into it.

[2017-04-21 11:33] juniwalk commented on #519
I am unable to replicate this issue, can you check documentation site if you see the same issue?

[2017-04-21 19:29] radekdostal commented on #519
The problem is occured on grid, where exists column defined as addColumnDateTime() and has defined filter with setFilterDate(). When I replace setFilterDate() with setFilterText(), then grid is rendered fine.

[2017-04-21 19:39] radekdostal commented on #519
On bad rendered grid, URL doesn't contain grid-sort parameters. If grid is sorted or I'll go to the next page and back again, URL contains grid-sort parameters and grid is rendered fine.

[2017-04-21 20:17] paveljanda commented on #519
@radekdostal Can you please make and sandbox-like project with for example sqlite database that would replicate your issues? Thanks!

[2017-04-22 19:19] radekdostal commented on #519
@paveljanda I'm just working on the sandbox and it's interesting that I don't use netteForms.js, grid is rendered perfectly. I'm forced to use Nette 2.3.10. Nette 2.4 is ok. So I have to prepare that sandbox?

[2017-04-22 20:19] radekdostal commented on #519
@paveljanda Here is the sandbox: [sandbox.zip](https://github.com/ublaboo/datagrid/files/949254/sandbox.zip)

[2017-04-23 11:26] #519 closed

[2017-04-30 18:29] martinknor opened #522 "Self signed certificate no longer valid as of Chrome 58"
Documentation at ublaboo.paveljanda.com doesn't work.
See https://alexanderzeitler.com/articles/Fixing-Chrome-missing_subjectAltName-selfsigned-cert-openssl/

[2017-04-30 18:48] juniwalk commented on #522
That link is no longer used. Please switch to https://ublaboo.org/datagrid/

[2017-04-30 18:48] #522 closed

[2017-05-03 00:23] romanmatyus opened #523 "Web SSL"
![image](https://cloud.githubusercontent.com/assets/1110294/25644563/7b7a708e-2fa7-11e7-8905-099c34567908.png)

[2017-05-03 05:52] paveljanda commented on #523
https://ublaboo.org

[2017-05-03 05:52] #523 closed

[2017-05-09 22:35] jarda256 opened #529 "What is correct way to aply datagrid and add sort on entity (doctrine)"
Hi, I would like to ask. What is correct way to aply datagrid and add sort on entity list. My quess is this, but I think, that i missed something

Add this to entity.php
`
	/**
	 * @ORM\Column(name="`order`", type="integer")
	 */
	private $order = 0;

	public function setOrder($order)
	{
		$this->order = $order;
	}
	public function getOrder()
	{
		return $this->order;
	}
`

Create simple datagrid

[2017-05-10 13:38] zemnet opened #530 "allowRowsAction not work on multiAction"
Hi
I have this problem.
How can I do allowRowsAction() on multiAction?

Thank you

[2017-05-10 14:26] paveljanda commented on #530
allowRowsGroupAction

[2017-05-10 14:26] paveljanda commented on #530
allowRowsAction

[2017-05-10 14:27] paveljanda commented on #530
@zemnet Show me your code, I will add the allow method

[2017-05-10 14:45] zemnet commented on #530
`$grid->addMultiAction('multi_action', '')->addAction('fakturaform','Upraviť','Faktury:fakturaform');`

`        $grid->allowRowsAction('fakturaform', function($item) {
        	 return !$item->pdf;
        });`

[2017-05-10 15:04] paveljanda commented on #530
@zemnet Sure, do that also with the multi action column:

[code]

[2017-05-10 15:08] zemnet commented on #530
But I need to allow second action 'fakturaform'...

[2017-05-10 15:47] paveljanda commented on #530
@zemnet Oh I see. So set two `MultiAction`s with different actions. Then allow one or another. Hm? :)

[2017-05-10 15:57] zemnet commented on #530
‎Yes, maybe can be.I occured to me also.But i have some actions that cannot be done.But i will test it,Thank you.

[2017-05-15 07:55] xpackal5 opened #531 "Strange item detail functions"
Hi.
It is some strange function of item detail handler. Normally works ok, but i need ajaxify whole app and then if i close {block content} of page into snippet the item detail not work (detail is not redraw item detail, but whole datagrid, which will be empty).
I can describe problem detailly in Czech if needed.
Milan

[2017-05-21 12:24] xpackal5 opened #533 "$grid->redrawItem($id) reload only data, not Action column"
Hello.
I have problem with AJAX item reload. I have action with allowRowAction callback that allow action depending on item data If i change this data, do $grid->redrawItem($id), only data reload, but buttons of not changed.
Example: Column called name - if is empty, add action allowed (Add button viewed), i change data row is redraw Add button may be hidden, but still persist.
Milan

[2017-05-21 13:42] #533 closed

[2017-05-21 13:42] xpackal5 commented on #533
My mistake

[2017-05-22 21:38] foxycode opened #534 "Add $row to onClick[] callback of addActionCallback()"
It would be nice to have `$row` parameter also when using `addActionCallback()`. Currently there is only id and programmers under me tend use solutions like this:

[code]

[2017-05-23 08:44] JanGalek opened #535 "LeanMapper support"
## Czech
Zdravím,
bylo by možné přidat podporu pro LeanMapper ? Vše mi sice fungovalo jak to je, až na big inline edit, kde se tlačítko pro editaci skrylo a nic víc se nestalo. Poté jsem přepnul na dibi a fungovalo v pořádku, takže v nastavení gridu by problém být neměl.

Díky

## English
Hi,
I want ask you, if is possible add support for LeanMapper ? Everything worked ok, but big inline edit is p

[2017-05-23 08:49] paveljanda commented on #535
@JanGalek Problem is, there is no official fluent interface imlementation for leanmapper. Or is there? If I'm not mistaken, there where some unofficial experiments (LeanMapperQuery, QueryObject, ...), but I won't support them because the are not officially supported and developed. Haha, nor is the LeanMapper itself. :D

[2017-05-23 09:00] JanGalek commented on #535
@paveljanda oh ok. So do you know some mapper whitch support firebird database and whitch will work with datagrid ? I look for some, but not success.

[2017-05-26 09:10] jarda256 opened #536 "Big inline edit Date"
Hi can I somehow inline edit Date object? If I use this i get "Object of class DateTime could not be converted to string
"
`
		/**
		 * Big inline editing
		 */
		$grid->addInlineEdit()
			->onControlAdd[] = function ($container) {
			$container->addText('name', '');
			$container->addText('surname', '');
			$container->addText('email', '');
			$container->addText('birthdate', '');
		};

		$grid->

[2017-06-01 11:39] JanGalek opened #539 "Small inline edit input type color"
Hi,
when I use
[code]
and click to edit color, then it send and after browser open color palete, and when I select color it dont change it.

Do I something wrong or it's normal ?
How you solve it ?

Thanks

[2017-06-03 13:36] sinacek opened #540 "Nastavení SetAjax for group actions"
Ahoj,
chtěl bych se zeptat, jestli by bylo možné přidat možnost setAjax na formulář (https://github.com/ublaboo/datagrid/blob/v5.x/src/templates/datagrid.latte#L23). Potřebuju pomocí group actions vrátit soubor s jejich údajema a když to je v ajaxu, tak to nejde. Zároveň to potřebuju jen na vybrané položky, tedy nelze použít jen Export.
Díky
PS: na tohle můžu i poslat PR, ale nevím jestli tě nenap

[2017-06-05 07:05] paveljanda commented on #540
Ten formulář je ajaxový. Přesně jak jsi ukázal v tom latte na githubu

On June 3, 2017 at 15:37:30, František Hána (notifications@github.com) wrote:

Ahoj,
chtěl bych se zeptat, jestli by bylo možné přidat možnost setAjax na formulář (https://github.com/ublaboo/datagrid/blob/v5.x/src/templates/datagrid.latte#L23). Potřebuju pomocí group actions vrátit soubor s jejich údajema a když to je v ajaxu,

[2017-06-05 07:09] sinacek commented on #540
Já právě potřebuju tu možnost vypnout, aby ajaxový nebyl a já mohl odeslat zpět soubor, vytvořený na základě vybraných položek.

[2017-06-05 07:15] paveljanda commented on #540
To si budeš muset pravděpodobně podědit šablonu a upravit podle sebe

On June 5, 2017 at 09:09:15, František Hána (notifications@github.com) wrote:

Já právě potřebuju tu možnost vypnout, aby ajaxový nebyl a já mohl odeslat zpět soubor, vytvořený na základě vybraných položek.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-08 10:45] jannemec opened #541 "Error in Detail open"
Po otevření detailu a dalším kliku na ikonu vyskočí chyba na metodě - .size() - řádek 425
Korekce je
if (!row_detail.find('.item-detail-content').size()) {
na
if (!row_detail.find('.item-detail-content').length) {

[2017-06-10 17:13] paveljanda commented on #541
Thanks, fixed

[2017-06-10 17:13] #541 closed

[2017-06-10 17:13] #540 closed

[2017-06-10 17:17] paveljanda commented on #539
Hmm, the submit behaviour would have to be actualy changed in datagrid.coffee..

Can you do it? :)

[2017-06-10 17:20] paveljanda commented on #536
Well it is working in docu homepage. :)

[2017-06-10 17:20] #536 closed

[2017-06-10 17:21] paveljanda commented on #536
@jarda256 If you came acroos wrong behaviour on docu homepage, please reopen this issue and tell me please where the problem is.
I can't really reproduce wrong behaviour in my code..

Or send me a sandbox-like project with your broken code. :)

[2017-06-10 17:22] paveljanda commented on #535
@JanGalek Cool. Closing this issue now. :)

[2017-06-10 17:22] #535 closed

[2017-06-10 17:24] paveljanda commented on #531
Try encapsulating whole datagrid into some control. You won't lose ajaxification and it should be all fine. :)

I don't really know, where your problem lies, but it is not probably in datagrid. :)

[2017-06-10 17:24] #531 closed

[2017-06-10 17:29] paveljanda commented on #534
1, You should start using PHP 5.6 and newer :P
2, That is not really the point of action callback, you can use normal action with custom values... Easy peasy

[2017-06-10 17:29] #534 closed

[2017-06-10 17:33] paveljanda commented on #529
My solution is this (maybe not the best):

[code]
trait TEntitySort
{

	public function sortEntity(
		EntityManager $em,
		string $entityClass,
		string $sortColumn,
		int $itemId,
		?int $previd,
		?int $nextId
	): void {
		$repository = $em->getRepository($entityClass);
		$item = $repository->find($itemId);
		$sortColumnGetter = 'get' . ucfirst($sortColumn);
		$sortColumnSetter = 'set' . ucfirst

[2017-06-10 17:34] #529 closed

[2017-06-10 17:35] paveljanda commented on #517
Agreed. Can you send a PR please? :)

What data sources and filters are you talking about?

[2017-06-11 08:28] #511 closed

[2017-06-11 08:39] paveljanda commented on #509
@proki Once in a time there are sessions automatically cleared on docu web. It was probably that case. It forks fine normally. :)

[2017-06-11 08:39] #509 closed

[2017-06-11 09:05] paveljanda commented on #508
@honzarac I don't really use Nextras ORM. Can you send a PR with your solution?

[2017-06-11 09:08] paveljanda commented on #503
@matej116 You can always use your own template that will inherit from datagrid.latte :)

[2017-06-11 09:08] #503 closed

[2017-06-11 09:39] paveljanda commented on #497
@jasir
Cool. Can you please check for e.path and if it exists, return that?

Thanks

[2017-06-11 10:58] #497 closed

[2017-06-11 11:01] paveljanda commented on #496
@elring I would create another data source class just for Postgre that would inherit from normal dibi data source, but would implement it's own `escapeLikeString()` (parent class - `DibiDataSource` would implement it too) and both datasources would be using the method.

Can you send a PR? :)

[2017-06-11 11:04] paveljanda commented on #472
@xpackal5 Is it still broken? Can not replicate it..

[2017-06-11 11:04] #472 closed

[2017-06-11 11:05] #470 closed

[2017-06-11 11:12] paveljanda commented on #468
Fixed

[2017-06-11 11:12] #468 closed

[2017-06-11 11:18] #445 closed

[2017-06-11 11:22] paveljanda commented on #466
@MichalSeidler there is currently no way how to do it from outside the datagrid. You can send a PR though :)

[2017-06-11 11:22] #466 closed

[2017-06-11 11:27] paveljanda commented on #453
Hm, that is hard to say. Reset filter button basically triggers a session flush, but does not expect any values in default filter.

@pavelgajdos What behaviour would you suggest?

[2017-06-12 11:29] tomaswindsor commented on #517
I am talking about applyFilterDate and applyFilterDateRange methods.

- DibiFluentDataSource and NetteDatabaseTableDataSource use `DATE() = ?` and `Y-m-d 00:00:00 <= ? <= Y-m-d 23:59:59`
   (DATE() = ? is ineffective and in case of date range, there is possible problem with granulation for cases like `Y-m-d 23:59:59.1`, hence I suggest using "`< day-after 00:00:00`" rather than "`<= this-day 23:59

[2017-06-12 11:34] paveljanda commented on #517
@tomaswindsor Thanks for mentioning. It would be great if you send a PR though. :)

[2017-06-12 12:10] jasir commented on #497
Thanx!

[2017-06-12 16:30] foxycode commented on #534
1. We are using PHP 7.1 on this project
2. As you can see, `advertiserid` is used in link, not `mergerid` (primary key), so I can't use action, because action uses only primary key from data. Or am I missing something?

[2017-06-12 20:09] paveljanda commented on #534
1, `function ($mergerid) use ($grid) {` - no need to use `use ($grid)` anymore since 5.6 :P
2, Yes you are. https://ublaboo.org/datagrid/column#column-link - you can pass any parameters you want (Same as in `Action`). Or you can use your own renderer and link. Or your own template.

You should read the doc more carefully man. :D

[2017-06-12 20:25] paveljanda commented on #534
@foxycode :D Sorry, my bad. Little tired. I though you are using `$this->grid`.. Never mind.

Anyway, `Action`, `ColumnLink` will help you with these parameters.

[2017-06-12 20:27] paveljanda commented on #534
@foxycode Maybe something like that?

[code]

[2017-06-13 10:35] foxycode commented on #534
Great, thank you very much 👍

[2017-06-14 08:55] JanGalek opened #546 "TLD as persist"
Good morning,
I have created translating page by TLD like:

[code]

and presenter
[code]
so when I go to page with datagrid, it add parameter locale to url, but parameter locale is tld, so then I see url like
`http://www.localweb.cz/administrace/akcni-nabidky/default?locale=cz&typesGrid-per_page=10`

this is` not a bug, but not look nice :) Or do you have some solution how to solve it ?

Thank you

[2017-06-14 15:13] jannemec opened #547 "New dibi"
For new dibi version there is change \DibiFluent class becomes \Dibi\Fluent
in DibiFluentDatasource.php should be
----------------------------
	/**
	 * @var DibiFluent
	 */
	protected $data_source;
	/**
	 * @var array
	 */
	protected $data = [];
	/**
	 * @var string
	 */
	protected $primary_key;
	/**
	 * @param DibiFluent $data_source
	 * @param string $primary_key
	 */
	public function __construc

[2017-06-14 15:16] jannemec opened #548 "PDO for older MSSQL"
Older version of MSSQL server require orderBy clause in case the limit is used hence in DibiFluentDataSource.php

should be lines (80-)
-----------------------------
	/**
	 * Filter data - get one row
	 * @param array $condition
	 * @return static
	 */
	public function filterOne(array $condition)
	{
		$this->data_source->where($condition)->limit(1);
		return $this;
	}
-----------------------------

[2017-06-19 11:39] elring commented on #496
OK, I have done this for myself (probably not mergeable I think, but I can make PR if you think it makes sense).

Made custom DibiFluentPostgreDataSource with only one method applyFilterText where I've commented-out the escape of column name.

Reason for this is, that the escape works correctly (the dibi Postgre Driver escapes the column name into "column"), but later the dibi where condition (in

[2017-06-19 13:10] elring commented on #496
Sorry for multi-comment.

This is not bug of Dibi, but a feature (and probably bug in Datagrid). According to source (and doc) of dibi, it doesn't use database-native quotation, but its own style of identifier and character quotation (\`identifier\`, [identifier], 'string', "string"). So Datagrid should use this quotation and not try to use dibi-driver-specific-magic quotation (it is coincidence t

[2017-06-30 06:20] misaon opened #550 "Bower is DEAD, welcome NPM."
Can you do this? Thanks a lot.

[2017-06-30 06:37] JanGalek commented on #539
I will look at it ;)

[2017-07-02 09:16] petrparolek commented on #550
why is bower dead? I dont think so!

[2017-07-02 09:40] paveljanda commented on #550
It is not dead but there should exist a npm package. I will add it.

[2017-07-07 21:06] paveljanda commented on #547
@jannemec But there are still aliases for old namespaces, right?

[2017-07-07 21:08] paveljanda commented on #546
@JanGalek I see. Hmm. Can you send me a sandbox-like zip where I could play around with this situation? Thanks. :)

[2017-07-07 21:17] paveljanda commented on #550
@misaon Can you please test it? I am not really a frontend developer, know just a little bit about npm.
Should I update the version in `package.json` each time a make some changes to assets?

[2017-07-11 20:39] jannemec commented on #547
You are right - I got one version of dibi, where this alias was missing.

[2017-07-11 20:39] #547 closed

[2017-07-11 21:15] jannemec opened #552 "SQL filter"
In some situation I needed more complicated filter and hence the method in DibiFluentDataSource.php

`
/**
	 * Filter by keyword
	 * @param  Filter\FilterText $filter
	 * @return void
	 */
	public function applyFilterText(Filter\FilterText $filter)
	{
		$condition = $filter->getCondition();
		$driver = $this->data_source->getConnection()->getDriver();
		$or = [];

		foreach ($condition as $column

[2017-07-13 10:18] peldax opened #553 "Componenta v detailu"
Chtěl bych použít komponentu v detailu - samozřejmě při pouhém použití makra `control` se hledá funkce `createComponent<Name>` v datagridu.

Já ale mám tovární funkci v parentu datagridu (ať už to je komponenta nebo presenter) a samozřejmě bych si představoval aby se vložila tato komponenta.

Jde to jednoduše vyřešit přetížením funkce `createComponent($name)` v datagridu.

[code]

Nyní je jasné co

[2017-07-13 11:58] paveljanda commented on #550
@misaon ping :)

[2017-07-14 21:08] JanGalek commented on #546
@paveljanda ok, I have ready sandbox zip, where I have upload for you ?

[2017-07-14 21:09] paveljanda commented on #546
@JanGalek RIght here, if it is not a problem for you. :)

[2017-07-14 21:10] JanGalek commented on #546
[datagrid-tld.zip](https://github.com/ublaboo/datagrid/files/1149679/datagrid-tld.zip)

I dont know, than on github can upload files, thanks for info 👍

[2017-07-23 21:27] unzeitigm opened #555 "Another methods on Row callbacks"
Hi there,
is there possible to work with some other methods than just `addClass()` on _Row callback_, which is mentioned in the documentation?

For example, I would like to change the row's **style** attribute on _Row callback_ based on some condition's result, but it doesn't seem to be possible with the regular Nette's `style()` method nor with the `style[]` array.
The changed attribute can be se

[2017-07-25 12:18] DarkPhenix opened #556 "Notice Undefined property: stdClass::$formsStack"
This notice occurs when filtering is used in datagrid v5.4.4, Nette 2.4 and autosubmit is turned on.
This issue is similar to #327.
It seems that snippet _gridSnippets_ is not redrawn during reload.

[2017-07-25 19:02] paveljanda commented on #550
@misaon pong

[2017-07-26 13:03] paveljanda commented on #552
Can you send a PR? :)

[2017-08-02 13:02] mrceperka opened #559 "FilterableDataSource::filter getConditionCallback data_source reference"
Hi,
I have `data_source` which is an `array`. I've used `setCondition` at `filter` component for custom filtering.

----------

Now, because my `data_source` is  `array`, it will not be passed as `object` would. Hotfix is easy, just add `&` before `$this->data_source`.

[code]

----------

* What do you think of this?
* Should I wrap my `array` `data_source` to `object` just because of this?
* Do

[2017-08-02 13:12] mrceperka commented on #559
Got [pull request](https://github.com/mrceperka/datagrid/blob/v5.x/src/DataSource/FilterableDataSource.php) ready with this one line fix.

[2017-08-03 00:23] jahudka commented on #550
@paveljanda yes, NPM doesn't follow the git repo like Bower and Composer do, so each time you release a new version you must update the version string in `package.json` and issue a `npm publish` command. It can easily be automated as part of a CI pipeline though - there's a handy NPM command called `npm version <major|minor|patch>`, which, when issued in a project directory with a clean working tr

[2017-08-03 00:27] paveljanda commented on #550
@jahudka Thanks for explaining to me. I will look more deeply in the CI in following days. Appreciate that!

[2017-08-03 11:00] mrceperka commented on #559
Bump. What do u think @paveljanda

[2017-08-03 11:20] jankonas opened #560 "Release new version with fixed pagination"
Hi, could you please release a new version with latest commit (which fixes pagination)? Thanks

[2017-08-10 12:38] #553 closed

[2017-08-11 11:41] Tomas2D commented on #547
Just create alias for old Dibi Fluent class.

`class_alias('Dibi\Fluent', 'DibiFluent');`

[2017-08-12 19:35] Wilson194 opened #563 "Problem with filtering"
Hello,

i have problem with filtering in grid. I have grid with data and i add filtering to grid. But if i want to filter and select item from select filter, nothing happen. (if i have enabled url change, url didnt change). Its look like AJAX not working, but sorting working correctly. Change limit per page not working as well. Can you please help me?

PS: JS console is clear, no error anywhere

T

[2017-08-18 06:26] JanPosolda opened #564 "When changing per page, sorting is reset"
Hello,
I have problem when I set sorting by any column and then change per page select, sorting is reset and
don´t remember.
I set sorting by name
![screenshot-ublaboo org 2017-08-18 08-23-48](https://user-images.githubusercontent.com/18554235/29446832-a3f6079e-83ee-11e7-890c-46190951cbcf.png)

then change per page, sorting is reset but arrow show sorting
![screenshot-ublaboo org 2017-08-18 08-24-

[2017-08-22 07:00] paveltizek opened #566 "Link to sort grid"
Is possible to create link to sort grid outside grid? I need to display buttons in template with defined sorting.

Thanks.

[2017-08-23 17:34] FilipLukac commented on #530
If possible, I vote up, to add method like `allowRowsMultiAction('parent','key',callable)` or something like that.

[2017-08-24 10:00] paveljanda commented on #530
Viz https://ublaboo.org/datagrid/row#allow_action_of_multi_action

I will release it in a couple hours

[2017-08-24 10:00] #530 closed

[2017-08-27 19:37] marten-cz opened #567 "Option to group columns the same way as tree-view"
Useful for cases like year split to quarters. I would like to have second row about the column which stays for which hear the quarter is.

[2017-08-27 19:39] marten-cz opened #568 "Different label for column and outer filter"
I need to have different label for column and filter label. In some cases the column should be abbreviated, but whole string should be in the filter.

[2017-08-28 08:24] paveljanda commented on #564
Right. You can send a PR, where it would be possible to change that behaviour. (https://github.com/ublaboo/datagrid/blob/v5.x/src/DataGrid.php#L1773)

[2017-08-28 08:26] paveljanda commented on #566
You can cheat it some way. But there are no native mathods to get these links.

[2017-08-28 08:26] #566 closed

[2017-08-28 08:28] paveljanda commented on #567
I won't implement that ( No one needed that in last 2 years :) ). But you can extend the `DataGrid` class and also the template to achieve this behaviour.

[2017-08-28 08:28] #567 closed

[2017-08-28 08:29] paveljanda commented on #568
https://ublaboo.org/datagrid/template#column-header-definition

[2017-08-28 08:29] #568 closed

[2017-08-28 08:31] BigOHenry opened #569 "Filters - Submit button render location"
Hello,
is any way to add the option to the filter submit button where it should render? I think the Action column its not the best place always.

Right now, i need to set AutoSubmit to FALSE and at the same time i dont have any action for rows (so no action column). I edited the datagrid.latte and changed the possition of the button to the toolbar (before the gear button).

So please can you add s

[2017-08-28 08:32] paveljanda commented on #569
You can send a PR :)

[2017-08-28 08:32] #569 closed

[2017-08-28 08:48] paveljanda commented on #560
@jankonas Can I close this issue now?

[2017-08-28 08:53] paveljanda commented on #559
@mrceperka Why don't you just return the filtered array in you condition callback?

[2017-08-28 09:09] BigOHenry commented on #569
okey, i will try it tonight :)

[2017-08-28 09:35] mrceperka commented on #559
How would that help? It is all based on modifying existing `data_source`.
I do not see any
[code]

[2017-08-28 09:40] paveljanda commented on #559
Right. Do this than:

[code]

[2017-08-28 09:40] paveljanda commented on #559
I should mention that in docu. Hmmm

[2017-08-28 09:43] mrceperka commented on #559
that will probably yell at me, that variable that i am expecting is not passed via refference...

[2017-08-28 09:45] paveljanda commented on #559
[code]

[2017-08-28 09:49] mrceperka commented on #559
Fine, I've propably did not try this little hack of yours. Thank you.

[2017-08-28 09:49] #559 closed

[2017-08-28 09:52] paveljanda commented on #559
Well it's not a hack. :D

It's just that I am trying to make it work similar way as the fluent interface of Dibi\Fluent and other objects that change themselves with every method called above them.

[2017-08-28 09:55] mrceperka commented on #559
Yes, I've seen those 'self mutating' collections. Better approach is returning new collection. But this is propably better (or easier?) solution for compatibility. Or you can CLONE them all :D

[2017-08-28 10:15] jankonas commented on #560
Yes, thank you

[2017-08-28 10:16] #560 closed

[2017-09-14 12:18] FilipLukac opened #572 "When using setEditableInputTypeSelect (option with string causes js error)"
Hi,

I have array in editable select callback like
[code]

When the `setEditableInputTypeSelect` fires, everything at server side went good (values are stored to database), but browser says: that Input could not be find cause JS does not include single quotes.

I will submit PR at datagrid.js

[2017-09-15 10:18] FilipLukac opened #574 "Use aggregator function with Doctrine Data Source"
Hi,

I'm using Doctrine and Aggregation function like:

[code]

And results are `0` (when I tried to debug `processDataSource` wont process) Is there any documentation or / hint  to use aggregator ?

[2017-09-25 13:49] pavelmlejnek opened #578 "Missing spinner while toggle-tree"
Hi,

when using datagrid in tree mode I came across the situation when loading subtree takes some time. In this case there is no spinner showing up to let user know that something is happening. Is there any reason why the spinner is absent?

If not I would be very happy to prepare PR, or to be more specific - I have already prepared it, but I ended up hesitating where is the right place for showin

[2017-09-25 14:44] vitkutny opened #579 "Summary reload after editing item"
After editing item there is only 1 row (the edited one) loaded. Summary is then computed from this row only.

Can replicate on example grid https://ublaboo.org/datagrid/.

1. hit edit on any row
2. then save (no need to change anything)
3. look at the summary below

[2017-10-09 10:43] martinknor commented on #550
@paveljanda there is problem with dependencies, actual package hasn't dependencies like bower...
Can you fix it?
[code]

[2017-10-10 06:15] #555 closed

[2017-10-10 14:19] wamesro opened #581 "$grid->setSortableHandler(); in control"
Hello I use [`$grid->setSortable();`](https://ublaboo.org/datagrid/action#sortable)
I set [`$grid->setSortableHandler()`](https://ublaboo.org/datagrid/action#sorting-handler) to be a component not from a Presenter
[code]
URL does not get the component name but **undefined**
[code]
value does not return to anywhere
[code]

[2017-10-11 06:19] wamesro commented on #581
Problem solved
need to update the template

https://forum.nette.org/cs/25444-ublaboo-datagrid-mocny-rychly-rozsiritelny-hezky-anglicky-dokumentovany-datagrid?p=22#p192245

[2017-10-11 06:19] #581 closed

[2017-10-16 09:13] misaon opened #583 "It will be support for Nette 3 ?"
@paveljanda Is Ublaboo depracted?

[2017-10-16 10:41] theo1024 commented on #496
@paveljanda Is there any chance to merge this PR? I will really appreciate that, because I solving the same problem right now.

@elring Great job! Thank you for that!

[2017-10-20 09:16] MichalSzekeres opened #585 "Not working template"
Hi, I am new to nette and ublaboo DataGrid .. and I have this problem :  I see the data from database ( and they are correct ) but I just dont see that great template in it ...  I have to be doing something wrong ...

![ssss](https://user-images.githubusercontent.com/22456043/31813834-fe0a04b8-b587-11e7-9609-7130e8857692.png)

[2017-10-20 09:39] paveljanda commented on #585
@MichalSzekeres Did u use all necessary assets?

[2017-10-21 17:17] misaon opened #586 "Why NPM version of Ublaboo include Doctrine (vendor dir) ? :O"
I have some problem with multiple declatarion of Doctrine ArrayCollection because doctrine exist in my vendor (via composer) and in node_modules after install Ublaboo.
 This is bug of NPM package so?

[2017-10-23 08:25] JanGalek commented on #416
beta now ;)

[2017-10-27 07:06] #496 closed

[2017-11-04 17:16] Daaarkling opened #587 "Wrong interpretation of custom primary key (Doctrine)"
Hi, lately I've been using this [UUID ](https://github.com/ramsey/uuid-doctrine)for my primary columns in Doctrine. Unfortunatelly I ran into a problem with Datagrid tree view. There is no parent argument from chevron links for view children. In the [template datagrid_tree.latte line 63](https://github.com/ublaboo/datagrid/blob/v5.x/src/templates/datagrid_tree.latte#L63) there is n:href="getChildr

[2017-11-16 13:43] DarkPhenix commented on #556
The issue is caused by instante/extended-form-macros component

[2017-11-16 13:43] #556 closed

[2017-11-22 15:36] ne0-cz opened #589 "FilterText throws exception when there's single quote"
There's `Dibi\Exception: SQL Translate error: Alone quote` when I input the single quote: `'`.

You get error 500 even on the https://ublaboo.org/datagrid/ - I don't think it needs any example code :)

[2017-11-22 21:26] paveljanda commented on #589
@ne0-cz Can you send a PR? :)

[2017-11-26 20:25] camohub opened #591 "Wrong count value for paginator"
Hi, I use this datagrid with Nextras ORM. In some cases I need to make queries via queryBuilder which contains group by clause. I causes the datagrid makes a wrong count of returned rows in result. It is because count(*) is aggregation function which counts all rows for grouped items and not all row in result. Is there a way to solve it? Thanks.

[2017-11-27 17:02] zelina opened #592 "datagrid in component - action link problem"
If datagrid is used in component, action link (for signal!) is not generated properly. Exception for invalid link is throwed.

Problem is probably here:
https://github.com/ublaboo/datagrid/blob/06f364e3fbf5db2d6eae96705af4973a66da7c8d/src/Traits/TLink.php#L29

in component have to be:
$parent = $grid->getParent()->getParent(); // code could say more than thousands words ;)

then it generates prope

[2017-11-30 08:17] martinvenus opened #593 "Bootstrap 4 support"
Hi,

is there any plan to support Bootstrap 4?

Thanks.

[2017-11-30 09:20] paveljanda commented on #593
Duplicate #416

[2017-11-30 09:20] #593 closed

[2017-11-30 09:25] martinvenus commented on #416
I think that beta2 is nearly stable. Could you please consider implementation?

[2017-11-30 09:31] paveljanda commented on #416
@martinvenus Can you prepare a PR and send it to me when Bootstrap 4 is ready? :)
How much will be html structure and classes affected? Can we keep current template or is it necessary to create a new one for bs 4?

[2017-11-30 09:32] radekdostal commented on #416
See https://forum.nette.org/cs/25444-ublaboo-datagrid-mocny-rychly-rozsiritelny-hezky-anglicky-dokumentovany-datagrid?p=22#p192059

[2017-11-30 09:36] paveljanda commented on #416
@martinvenus @radekdostal Cool. So you know how to begin. :) There is probably necessary to keep more template files with more theme-specific CSS.

[2017-12-01 07:58] j23bax opened #594 "DataGrid with Instante Extended form macros conflict"
Hi, there is a problem when I'm trying to use DataGrid beside Extended Form Macros from instante (i am extending his form renderer, so I need them for manual form rendering in some cases).
When you click on 'next' button in paginator, `Undefined property: stdClass::$formsStack` Notice shows up. It's appearing in datagrid template files on lines with `input`, `label` and `form` macros.
It would be

[2017-12-04 10:19] jaroslavrehorka opened #595 "Doctrine hydration mode"
Hi,

if I need to set hydration mode for example to _HYDRATE_SCALAR_, is there any supported way to do so? I have managed to achieve this behaviour by extending _DoctrineDataSource_, but I'm not sure if I'm not reinventing wheel.

Thanks

[2017-12-04 11:09] juniwalk commented on #595
Hello,
there is no option to set hydration mode.

Why do you need to hydrate to scalar in datagrid?

[2017-12-04 11:48] jaroslavrehorka commented on #595
Ok, thanks.

Because I'm joining multiple tables via DQL which results in something similar to this https://stackoverflow.com/questions/38836366/doctrine-dql-returning-flat-array-from-join, so to flatten and normalize record I use scalar hydration (the join depends on dynamic variable). Otherwise for joining tables A and B I would get array that would look like [A,B,A,B,...] which is not optimal f

[2017-12-04 12:25] juniwalk commented on #595
I see,
you could either select the entities into DTO object if you need them grouped somehow or stick with the way you've done it.

[2017-12-04 12:28] jaroslavrehorka commented on #595
ok, I was pretty easy to create modified DataSource so I will keep using it.

Thank you for your help

[2017-12-04 12:28] #595 closed

[2017-12-06 09:06] holantomas opened #596 "Wrong value search for editableTypeSelect"
I think, [this](https://github.com/ublaboo/datagrid/blob/v5.x/assets/src/datagrid.coffee#L511) is wrong cause you are searching for `<option>` with Text=Value and then search again `<option>` with value.

JS side just excepting that option's text=value but PHP side have ability to setup different value from text.

[Here](https://github.com/ublaboo/datagrid/blob/v5.x/src/Column/Column.php#L624)
[co

[2017-12-14 10:23] holantomas commented on #596
Any idea?

[2017-12-27 13:45] jaroslavlibal opened #599 "PHP 7.2 support: Nette\Object extension still occurs in the code"
Affected version: 5.4.9

Nette\Object is still extended by the:
- Ublaboo\DataGrid\Utils\DateTimeHelper
- Ublaboo\DataGrid\DataSource\FilterableDataSource

[2017-12-27 14:01] paveljanda commented on #599
@jaroslavlibal Thank you, `v5.4.10`.

[2017-12-27 14:01] #599 closed

[2018-01-03 20:06] phoniq opened #600 "filter lost focus"
Hi,

when i use `setFilterText`, after i tip two letter, the focus is lost.
`setAutoSubmit(TRUE)`,
I use Firefox 57 or Edge.

[2018-01-04 09:21] JohnyRicio opened #601 "DefaultSort does not work"
Hi,

when I use setDefaultSort on init grid, all is ok. But when I set order by column and after reset this, default sort is ignored and data is ordered as was returned from database. I use for datasource kdyby/Dotrine.

Thank you for fix

[2018-01-05 05:03] Salamek opened #602 "Old version of ublaboo/responses is installed when installing datagrid v5.4.11"
This breaks PHP 7.2 Compability

[2018-01-05 07:46] paveljanda commented on #602
@Salamek Can you send a PR? :)

[2018-01-06 03:22] Salamek commented on #602
@paveljanda
nope :disappointed:

[code]
There is no version of ublaboo/responses targeting PHP 7.2 && nette 2.4 would be good to release v1.1.0 of ublaboo/responses targeting PHP 7.2 && nette 2.4

[2018-01-06 11:07] zelina commented on #592
Could this be as a solution?

protected function createLink(DataGrid $grid, $href, $params)
	{
		try {
			$parent = $grid->getParent();

			if (Strings::endsWith($href,'!')) {
				$parentClass = ClassType::from($parent);

				while (!$parentClass->hasMethod('handle' . Strings::capitalize(Strings::trim($href, '!')))) {
					$parent = $parent->getParent();
					$parentClass = ClassType::from($parent

[2018-01-07 15:05] maraerben opened #603 "DateTime picker in inline edit"
Dobrý den. Především: úžasný DataGrid pro Nette, lepšího není, jen kvůli němu uvažuji začínat všechny další projekty s Nette a ne se Symfony (kde mi právě v nových verzích podobná datová tabulka chybí)

Mám otázku - neplánujete přidat do **inline úprav** řádků tabulky input, ktreý by nabídl **DatePicker**? Momentálně je uživatel odkázán na to, vyplňovat datum a čas čistě ručně, v čemž může lehce u

[2018-01-08 07:26] paveljanda commented on #603
@maraerben Díky za pochvalu.

Přidání datepickeru do inline editace je jednoduché. Přidal jsem to na web dokumentace (https://ublaboo.org/datagrid). Úprava:

[code]

[2018-01-08 07:26] #603 closed

[2018-01-08 09:56] maraerben commented on #603
Děkuji, to je skoro přesně to, co jsem hledal, je ale možné podobně vyvolat i **datetimepicker**? Tedy ten, kde bych si mohl zvolit kromě datumu i čas.

[2018-01-08 10:00] paveljanda commented on #603
@maraerben Tuším, že žádný datetimepicker teď datagrid ani nepoužívá. Zkuste si tedy vybrat svou datetimepicker knihovnu a tu použít. Mělo by opět stačit pouze přidání nějakého data-atributu, jak to mají tyto knihovny ve zvyku. Je to přeci pouze formulářový prvek. :)

[2018-01-09 23:02] paveljanda commented on #602
Fixed in `ublaboo/responses` `v1.0.7`

[2018-01-09 23:02] #602 closed

[2018-01-09 23:03] paveljanda commented on #601
It should be fixed by now (https://github.com/ublaboo/datagrid/pull/545)

[2018-01-09 23:05] paveljanda commented on #600
@phoniq Does ot work on docu pages? (https://ublaboo.org/datagrid) It does for me. Try latest versions of assets. Does it still occur?

[2018-01-09 23:05] #600 closed

[2018-01-09 23:09] paveljanda commented on #583
@misaon ??

[2018-01-09 23:10] paveljanda commented on #583
There is a support prepared for nette 3 and it is almost ready. But nette is still in beta, right?

[2018-01-09 23:10] #583 closed

[2018-01-09 23:11] #585 closed

[2018-01-10 06:07] Salamek commented on #602
@paveljanda THX, works great

[2018-01-10 09:44] JohnyRicio commented on #601
Fix is not working. Data are always sorted ASC, but I have $grid->setDefaultSort(['id' => 'DESC']);

[2018-01-10 10:17] paveljanda commented on #601
@JohnyRicio What version did you try? It is not released yet (just sitting in branch `v5.x`).

[2018-01-10 21:22] paveljanda commented on #594
I don't really understand what you want to achieve. Can you show me an example?

[2018-01-10 22:23] paveljanda commented on #596
This is a duplicit issue and will be solved in following days via #573

[2018-01-10 22:23] #596 closed

[2018-01-11 01:43] j23bax commented on #594
When I'm trying to use DataGrid in project, where [ExtendedFormMacros from instante](https://github.com/instante/extended-form-macros) extension is wired, Exception `Undefined property: stdClass::$formsStack` appear when I click on paginator, i.e..  It's because of DataGrid template using `{input}` and `n:name` etc.. latte macros, which are being overriden by ExtendedFormMacros mentioned above. LN

[2018-01-11 09:09] JohnyRicio commented on #601
Current version what I have is 5.4.13. Yesterday, I updated to this version and I did not check if this fix was be released. Maybe It been fixed. Sorry

[2018-01-11 09:13] paveljanda commented on #601
@JohnyRicio I wrote that is has not been released yet (it will be in following days). But you can test the `v5.x` branch (`HEAD`).

[2018-01-11 09:39] JohnyRicio commented on #601
@paveljanda Currently I have v5.x-dev 80e5b81 and still not working. Default shorted data is ordered ASC, but I seted it to DESC.

[2018-01-11 09:44] paveljanda commented on #601
@JohnyRicio I can't find a commit `80e5b81`. :D Where did you got it?

Can you please create a sandbox-like project with some basic functionality that will show that issue and upload it to github / here with zip? Thanks a lot!

[2018-01-11 10:53] #592 closed

[2018-01-11 20:27] #572 closed

[2018-01-11 21:03] paveljanda commented on #416
@igorpocta @JanGalek @martinvenus @radekdostal
Bootstrap 4 support is in branch `bootstrap-4` (contains todays newest release `5.5.0`). THe only thing left is `bootstrap-select` for filter `MultiSelect` which is waiting for its author. As he says - it is already implemented and should be released soon (https://github.com/silviomoreto/bootstrap-select/issues/1135).

[2018-01-12 06:38] radekdostal commented on #592
I think, this is an BC break. When I have this action (datagrid as component):

`$grid->addAction('movie', '', 'Movie:edit', ['id' => 'movie_id']);`

It ends with "Component with name 'Movie' does not exist."

[2018-01-12 07:37] paveljanda commented on #592
@radekdostal Aj, that should not.. can you try `v5.5.1`?

[2018-01-12 08:07] radekdostal commented on #592
@paveljanda Yes, v5.5.1 seems to be OK.

[2018-01-13 10:29] paveljanda commented on #594
@j23bax You can try extending datagrid and add formsStack to the template. I don't really know how `instante/extended-form-macros` works..

[2018-01-13 10:29] #594 closed

[2018-01-14 11:25] paveljanda commented on #586
@misaon Added `.npmignore` in `v5.5.3` so it should be fixed.

[2018-01-14 11:25] #586 closed

[2018-01-14 20:46] grogy opened #605 "UUID as key for actions"
When I use [UUID](https://github.com/ramsey/uuid) than is not correct generated action link.

Generated URL: `domain.tld/presenter/action`
Expected URL:  `domain.tld/presenter/action?id=uuid-key`

When I change trait [TLink](https://github.com/ublaboo/datagrid/blob/v5.x/src/Traits/TLink.php#L36) - convert UUID to string, than it is correct.

What space in code is best for fix this use-case. I mean

[2018-01-14 21:08] grogy commented on #605
I am so sorry, my mistake (in project was not config identifier in routes)

[2018-01-14 21:08] #605 closed

[2018-01-19 13:47] radekdostal opened #606 "Bump package.json to 5.5.4"
Hello @paveljanda,
can you please bump package.json to version 5.5.4? Package installed with bower is not same as package installed with npm. Thank you.

[2018-01-20 16:10] paveljanda commented on #606
@radekdostal Done in `v5.5.5`. You can simply send a PR next time. :)

[2018-01-22 09:51] radekdostal commented on #606
Thank you, but when I type: npm search ublaboo, the available version is still 5.4.2.

[2018-01-22 10:09] paveljanda commented on #606
@radekdostal Well is there something else I have to do to release a new version instead of releasing new tag?

[2018-01-22 10:18] radekdostal commented on #606
I don't know, I'm a newbie in npm. There is a problem with dependencies - bower.json has defined dependencies, but package.json not.

[2018-01-30 14:02] ne0-cz commented on #601
I can confirm this issue for 5.5.5.

[code]

5.4.13 acts as expected:
On load: `ORDER BY date DESC`
Click: `ORDER BY post_id`
Click: `ORDER BY date ASC`
Click: `ORDER BY date DESC`
Click: `ORDER BY post_id`
Click: `ORDER BY date ASC`
Click: `ORDER BY date DESC`
[...]

5.5.5 is wrong:
On load: `ORDER BY date DESC`
Click: `ORDER BY date ASC`
Click: `ORDER BY post_id`
Click: `ORDER BY date ASC`
Click

[2018-01-31 14:43] zelina opened #607 "Traits link problem Presenter::SILENT_LINK"
Hello,

$presenter->handleInvalidLink(...) can return also symbol '#' (Presenter::INVALID_LINK_SILENT)

https://github.com/ublaboo/datagrid/blob/1205cfe64469a0ae476a226bd671281952273baa/src/Traits/TLink.php#L56

so probably there should be aswell a condition strpos($link, '#') === 0

[2018-02-02 12:14] MartinSzollos2016 opened #608 "Change Column Name after ajax"
Hi,
is there a way to change column name after ajax call?
`$grid->addColumnText(
			'price',
			$this->translator->translate(
				'messages.forms.automoto.priceListPrice',
				null,
				[
					'year'  => $this->year,
					'month' => $this->month
				]
			)
		)`

[2018-02-09 17:28] janmottl commented on #563
Hi,
I have the same problem. I have a partial workaround:
- I call  $grid->useHappyComponents(true) in my createComponent function
- I can now select checkboxes in my grid

[2018-02-11 18:23] sten192 opened #609 "Paginator URLs are changing after manual grid reload"
Hi,

I am experiencing following issue. When I add or edit a record using modal form, I refresh datatagrid with following code:

[code]

My grid constructor looks like this:
[code]

Saving data and grid reloading works as expected. However, links in the paginator are changing according to last action performed. For example: default URL is /users, after adding a user it becomes /users/add.

I tried

[2018-02-13 00:17] caseyjhol commented on #416
Bootstrap 4 support has officially been added as a part of v1.13.0-beta, available here: https://github.com/snapappointments/bootstrap-select/releases/tag/v1.13.0-beta. Please post any issues in that repo from now on. Hoping for a quick beta.

[2018-02-15 22:22] sten192 commented on #609
I`ve resolved this issue by adding following line before reloading the grid:

[code]
Maybe, it will help somebody...

[2018-02-17 15:23] matoni555 opened #610 "Unable to filter grid when adding inline rows is active"
Hi,
I have problem with filtering items in grid when adding inline rows is active. When I type anything into filter inputs, it shows error message from inline add. When I try to add new line, cancel it and then try to filter the grid, everything is ok.

Datagrid version: 5.5.6

[code]

Thank you

[2018-02-17 16:09] matoni555 commented on #601
I have same problem in version 5.5.6.

Set up of sorting:
[code]
Order column in grid:
![kategorie administrace](https://user-images.githubusercontent.com/3002995/36342890-274e2094-1405-11e8-88e2-cf8d74899cdf.png)

[2018-02-17 22:46] maraerben opened #611 "Mizení flash-messages po přesměrování na stránku, kde je DataGrid"
Zdravím,
mám problém, který se mi nedaří již delší dobu vyřešit. Migrujeme v jednom našem projektu z [o5/Grido](https://github.com/o5/grido) na váš DataGrid.

V presenteru mám `handleXYZ()` metodu, ve které přidávám pomocí `$this→flashMessage(...)` upozornění. Po tomto řádku máme typicky nějaký redirect na stránku, kde se neachází váš DataGrid.

Po načtení se však `flashMessage` objeví na stránce

[2018-02-19 07:02] paveljanda commented on #611
Dobrý den,

předpokládám, že animujete/skrýváte flashmessages JavaScriptem, je to tak? V takové JS funkci máte pravděpodobně navěšený handler na xhr oncomplete, ke kterému dojde při refreshstate.

[2018-02-19 08:11] paveljanda commented on #601
Can you send a PR? :)

[2018-02-19 16:41] maraerben commented on #611
Obávám se, že ne, v presenterech vytváříme flash messages pomocí `$this->flashMessage(...)` a v samotných Latte šablonách všechny šablony vypisujeme v bloku najak takto:
`...
{snippet flashMessages}
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {_$f

[2018-02-19 17:30] paveljanda commented on #611
@maraerben Můžete udělat ukázkový sandbox-like projekt, kde bude toto chování jednoduše ukázáno a nahrát např někam na github?

[2018-02-20 06:05] radekdostal commented on #606
`npm search ublaboo-datagrid` still returns version 5.4.2. Isn't `npm publish --tag` a solution? I don't know...

[2018-02-20 11:26] maraerben commented on #611
Určitě, pokusím se v dohledné chvíli.

[2018-02-20 11:41] paveljanda commented on #606
Done

[2018-02-20 11:41] #606 closed

[2018-02-23 08:30] repli2dev opened #614 "Tree-view how to delete a row"
After spending an hour in documentation (https://ublaboo.org/datagrid/tree-view) I do not understand how to either remove the deleted row or redraw all subrows of certain item.

Is that even possible?

[2018-02-23 09:12] repli2dev commented on #614
Ok, after another nearly while I found out that deletion works as expected when ids of each item is valid HTML IDs, this should be checked.

[2018-02-23 09:13] repli2dev opened #615 "Check whether given row ID is valid HTML ID"
If not it will cause ajax malfunction (such as not refreshing rows...)

[2018-02-23 09:17] repli2dev commented on #614
Though the problem seemed to disappear when properly done the row IDS (moved to #615) the deletion is still not possible. The snippet is not send if the item is not found in the data source.

[2018-02-25 16:34] kleinpetr opened #617 "new version of Font-Awesome"
Hey,

do you thinking about implement new version of font awesome ?

https://fontawesome.com/

[2018-02-25 18:18] paveljanda commented on #617
https://github.com/ublaboo/datagrid/pull/612

[2018-02-25 18:18] #617 closed

[2018-02-26 10:29] brkos opened #618 "Font Awesome 5 Support"
Add the render file for Font Awesome 5

[2018-02-26 12:25] jaroslavlibal commented on #601
Just some observations, not sure if useful:
- The issue occurs also in the current `dev-bootstrap-4` branch.
- When used with the `->setRemeberState(false)` option, then the grid default sort is correctly applied after reseting the sort settings to default (by clicking on the sort button).
- It does not work (means the grid default sort is not applied) when reseting filters with the "reset filters

[2018-02-26 18:27] maraerben opened #619 "Enable horizontal scroll when the DataGrid is too wide"
it would be so nice to enable horizontal scroll, when the DataGrid is wider than the whole page. Now, when my table has many columns I can not see all of them. (On screenshot there are another two columns off the screen)

<img width="1347" alt="snimek obrazovky 2018-02-26 v 19 23 50" src="https://user-images.githubusercontent.com/17090177/36687873-0e42345a-1b2b-11e8-8203-44f563f550aa.png">

[2018-03-02 08:14] janmottl opened #621 "inLineEdit - onSubmit function delivers empty values of hidden colums"
inLineEdit - onSubmit function delivers empty values of hidden colums. That's very insidious and dangerous because it causes destroying of data in invisible columns.

I have following workaround:
`        $this->hiddenColumns = $grid->getSessionData('_grid_hidden_columns');

        $grid->getInlineEdit()->onSubmit[] = function($id, $values) {
            $notHiddenValues = [];
            foreach

[2018-03-02 18:39] #611 closed

[2018-03-04 13:40] H0w4rd opened #622 "Returned value of setEditableCallback is ignored"
The documentation here https://ublaboo.org/datagrid/edit?editableGrid-per_page=10#small-inline-editing says that a function passed to setEditableCallback has to return a new value, which would be rendered in a grid cell after finishing of inline editing. Unfortunatelly any returned value is ignored.
Example:
[code]
Expected content of a cell after inline editing: AAA
Given content: what whas enter

[2018-03-05 11:43] matrixinfologics opened #623 "MultiSelect filter is not working with nextras/orm"
I am trying to using multiselect filter with nextras/orm relative data. Its not working and return the error like
`Unknown column 'tags.id' in 'where clause`

Filter code
`$grid->addFilterMultiSelect('tags', 'Tags:', $this->tagManager->findAll()->fetchPairs('id', 'name'), 'tags.id');`

Simple Select filter is working with it. Please provide some solution regarding that.

[2018-03-05 11:45] paveljanda commented on #623
@matrixinfologics I am not really using Nextras ORM, but you can send a PR. :)

[2018-03-05 16:13] rkor11 opened #624 "Treeview and Bootstrap 4"
In Bootstrap 4 has been removed .hidden class. So in treeview, there is shown link/arrow to children view for every item. It could be replaced by .d-none class.

[2018-03-05 16:14] paveljanda commented on #624
@rkor11 Can you send a PR, please? :)

[2018-03-05 16:33] rkor11 commented on #624
As I can see, you have already fixed it by adding .hidden class in datagrid.scss to bootstrap-4 branch. But I can send PR with modified datagrid_tree.latte for compatibilty with bootstrap 3&4, if you can

[2018-03-10 09:26] BigOHenry opened #625 "[6.0] Class DibiFluent has been renamed to Dibi\Fluent."
Hello, could you please replace old DibiFluent with Dibi\Fluent?

`Argument 1 passed to Ublaboo\DataGrid\DataSource\DibiFluentDataSource::__construct() must be an instance of DibiFluent, instance of Dibi\Fluent given`

DibiFluent in Dibi does not exist anymore.

Thank you very much.

[2018-03-10 09:48] BigOHenry commented on #625
I made pull request already for this

[2018-03-12 02:42] peldax commented on #610
I have similiar issue. When inline add and edit are enabled for grid, filters doesnt submit forms and filtering doesnt happen.

[2018-03-19 13:27] elring commented on #622
Hello.
Same problem here.

After some research it seems that variable payload._datagrid_editable_new_value is undefined (in datagrid.js). Strange, because it should be set in handleEdit in datagrid.php...

[2018-03-21 15:31] JanGalek opened #631 "Update documentation"
Nette\Component-model v2.4.0 update has construct params deprecated:
https://github.com/nette/component-model/blob/v2.4.0/src/ComponentModel/Component.php#L35-L46

actual:
[code]

now:
[code]

[2018-03-21 17:04] f3l1x opened #632 "Use higher version of ublaboo/responses"
I'm not sure if it's in correct form.

[code]

According to composer docs (https://getcomposer.org/doc/articles/versions.md#version-range) it should be in this form.

[code]

WDYT @paveljanda?

[2018-03-21 17:08] paveljanda commented on #632
@f3l1x It should be possible (https://semver.mwl.be/#?package=ublaboo%2Fresponses&version=~1.0.0%7C~2.0.0&minimum-stability=stable). But you're right, `||` is documented so we should use that one.

[2018-03-21 17:11] f3l1x commented on #632
It's strange behaviour. :-)

`composer outdated` still reports we're using ~1.0.0, but I don't know why.

PS: Yep, I'm using ublaboo datagrid. Shame on me... :-D

[2018-03-21 17:15] f3l1x commented on #631
@JanGalek Don't hesitate to send PR ;-) It's always welcomed.

[2018-03-22 07:29] JanGalek commented on #631
@f3l1x I would like, but I don't see where documentation is located :) (ublaboo.org/datagrid/)

[2018-03-22 09:35] mhucik opened #635 "Cannot set custom Paginator template"
Hi,
I wanted to set custom Paginator template. But AFAIK Its posible to do it only after datagrid is connected to PresenterComponent, but I want to do it before that happens.
I would like to make some general factory class, which would accept my design requirements for grid.

I also made some changes, which allows me to do that here: https://github.com/ublaboo/datagrid/pull/634

Thanks for amazing

[2018-03-22 17:57] #631 closed

[2018-03-23 15:54] cniry commented on #625
+1

[2018-04-05 07:12] BigOHenry opened #638 "Nette\ComponentModel\Component::__construct() argument $parent is deprecated, use $parent->addComponent() instead."
With new nette utils getting this error:
`Nette\ComponentModel\Component::__construct() argument $parent is deprecated, use $parent->addComponent() instead.  `

in this row:
`$grid = new DataGrid($this, $name);`

[2018-04-05 12:46] petrparolek commented on #638
you have to use:
`
$grid = new DataGrid();
$this->addComponent($grid, $name);
`

[2018-04-05 13:05] BigOHenry commented on #638
Thank you! Its working.

[2018-04-06 13:46] igorpocta opened #640 "Documentation > Sorting"
Hello guys,

I found a mistake in the example source code of sorting. When you will move a penultimate record and put it behind the last record, the order will crash.

The problem is in the *part 3*. When the next item does not exist, there is inserted zero and all records greater or equal to zero are increased. Correctly is number of records minus one.

  ![IMG1](https://ctrlv.cz/shots/2018/04/06

[2018-04-10 15:11] maraerben opened #641 "While entering invalid date format to DateFilter and DateRangeFilter throws DataGrid Exception"
User can enter some random text to the DateFilter and DateRangeFilter. After that DataGrid throws `Ublaboo\DataGrid\Exception\DataGridDateTimeHelperException `.

[exception--2018-04-10--14-09--54da6f0d63.html.zip](https://github.com/ublaboo/datagrid/files/1895169/exception--2018-04-10--14-09--54da6f0d63.html.zip)

[2018-04-12 11:17] mafikes opened #642 "NetteDatabaseDataSource filter not work"
Hi
I use NetteDatabaseDataSource, when i want ajax filter some text I get error

Nette\MemberAccessException: Call to undefined method Ublaboo\DataGrid\Filter\FilterText::isExactSearch().

[2018-04-13 11:02] radekdostal opened #644 "Icon for reset filter is always shown"
Icon "remove" in column header is always shown, although the filter is not set. Only in bootstrap-4 branch with Bootstrap 4.

[2018-04-16 20:35] igorpocta commented on #644
Are you sure? I have the same branch and I have problem only with groupbutton in the datetime filter.

![My](https://image.ibb.co/htR66n/image.png)

[2018-04-17 06:22] romanmatyus opened #645 "Reset paginator after remove 'all' from items"
User has in session paginator with value 'all'.

When I remove 'all' from options user by:

[code]

Receive error:

![image](https://user-images.githubusercontent.com/1110294/38852011-66171f7e-4218-11e8-987b-7ea306a22f0a.png)

[2018-04-25 08:30] martinknor opened #649 "Error while reload grid"
If i call `$grid->reload(['grid'])`, everything is ok.

But if call `$grid->reload()`, grid throws `Argument 1 passed to Instante\ExtendedFormMacros\Latte\FormRenderingDispatcher::renderControl() must be of the type array, null given ` because `$this->global->formsStack` is not available here.

[2018-04-25 13:43] JKoty opened #652 "Cannot read an undeclared property Ublaboo\DataGrid\DataSource\DoctrineCollectionDataSource::$data_source."
I'm trying to use DoctrineCollectionDataSource with custom filter, like this:
[code]
But I get this error:
Cannot read an undeclared property **Ublaboo\DataGrid\DataSource\DoctrineCollectionDataSource::$data_source.**
Caused by this:
[code]

The problem is obvious - $this->data_source is private. Changing `private` to `protected` solves the problem.
Can we change it?

[2018-04-27 07:51] rumcais commented on #625
+1

[2018-04-27 07:56] f3l1x commented on #625
It's a part of this PR.

https://github.com/ublaboo/datagrid/pull/648

[2018-04-28 08:31] MartinSzollos2016 opened #654 "Sorting on Collection"
Hi,
I have problem with sorting in DoctrineDataSource.

`
$qb = $this->segmentRepository->getQb();
$grid->setDataSource($qb);

$grid->addColumnText('vhCnt', 'admin.grid.segment.vehicleCount')
			->setSortable()
			->setSortableCallback(
				function (QueryBuilder $qb, $val) {
					$qb->leftJoin('q.vehicles', 'vh');
					$qb->groupBy('q.id');
					$qb->addOrderBy('COUNT(vh.id)', reset($val));
				}

[2018-05-04 13:58] dakorpar opened #655 "setting $this->filter eariler"
Whenever you try to use $this->filter code inside your grid you'll run into trouble becuase this is being set on filterSucceeded which is fired way to late. IMHO $this->filters should hold correct values much sooner, or we need some event onFiltersAvailable so you can check values there...
I got task to not filter if minimum 3 letters are not entered in grid and display flashMessage, on first supe

[2018-05-11 14:18] dakorpar opened #656 "Back button in browser has unexpected behaviour"
When using back in browser and U switched page or change filters back won't take U to previous state.

[2018-05-18 23:17] peldax commented on #656
Datagrid remebers its state (page, filters, ...) in session by default, you can disable this with `$grid->setRememberState(false);`

[2018-05-19 10:03] dakorpar commented on #656
@peldax thank you for your effort but this is really not an answer and has nothing to do with my question.
Enableing or disableing saving to session won't solve this and is not (and should NOT) be connected to this anyhow.

[2018-05-19 12:54] peldax commented on #656
Hi, Would you provide more information and describe the problem more clearly? I do not understand your description very well.

[2018-05-21 07:27] dakorpar commented on #656
try creating simple datagrid with text filter, type something in filter, submit, type something else in filter and click back. While url will be correct and history in browser looks ok, grid filter won't have what U entered first in filter and grid won't be filtered by that.

[2018-05-22 09:55] dakorpar commented on #656
Not sure if best solution, I don't work much with frontend but this fixes it
[code]

[2018-05-23 08:52] spernica commented on #601
Default sorting isn't working. Nette Database, Nette 2.4, datagrid 5.6.0, PHP 7.2.2

$grid->setDefaultSort(['id' => 'DESC']);
1
2
5

If I add column id to grid, then I can filter only with ASC option.

[2018-05-23 09:36] elring opened #661 "Error when sorting with DibiFluent datasource with Dibi 3"
With DibiFluentDataSource I sometimes got error "Class DibiFluent  has been renamed to Dibi\Fluent.".
Error is in method sort in DibiFluentDataSource.php, where it still uses now non-existent class DibiFluent.

[2018-05-25 06:53] #661 closed

[2018-06-05 07:01] attreid commented on #601
Maybe help rewrite method getSortNext in class Ublaboo\DataGrid\Column from
[code]
to
[code]

[2018-06-05 07:54] martinvenus commented on #416
@paveljanda bootstrap-select has been already released. Could you please merge bootstrap-4 branch to master? Thanks :)

[2018-06-11 14:23] xpackal5 opened #664 "Invalid argument supplied for foreach() FilterMultiSelect"
Hello.
FilterMultiSelect get me this error.
`
            /**
             * Get filter condition
             * @return array
             */
            public function getCondition()
            {
                $return = [$this->column => []];
                foreach ($this->getValue() as $value) {
                     $return[$this->column][] = $value;
                }

                retu

[2018-06-12 09:11] JanMikes opened #665 "Default filter does not work"
Having this code:
[code]

Result is, when viewing grid for 1st time, there are all results and filter is not applied (the `setCondition` call is ignored, trying with xdebug breakpoint, it does not go inside). Though the `Yes` option is selected, the condition is being ignored.

After changing to NO it filters non-active results and changing to YES it works.

**Problem is the inital state of the fi

[2018-06-12 09:37] JanMikes commented on #665
Nevermind, the bug was in our code, overwriting `setDefaultFilter()` from another place, sorry :-)

[2018-06-12 09:37] #665 closed

[2018-06-14 06:40] xpackal5 opened #666 "ItemDetail shows only first row"
For bootstrap-4 branch..
When I click on item detail icon only first row of datasource was shown. No errors, no exceptions.
Problem is with custom templates and on renderer callback too.
Milan

[2018-06-14 06:50] xpackal5 commented on #666
I study this problem and when click on icon, ajax returns snippet with no data (only tabs)

[2018-06-14 07:11] #666 closed

[2018-06-15 05:53] matoni555 commented on #601
Problem is really when remember state is turned on (which is by default).
It works when set `->setRemeberState(false)`

@paveljanda I tried to find out the problem in source, but I did not find any solution. Can you please look at it?

Thanks

[2018-06-15 11:24] xpackal5 opened #667 "Question about export"
Hi I have question about export.
I am using datagrid encapsulated in Control and i need set datasource while Control is rendered.

example in Control class :
[code]
Everythink is ok, but if I try use CSVExport datagrid throws
_Ublaboo\DataGrid\Exception\DataGridException_
_You have to set a data source first_

I thought datasource needed while datagrid rendered.

Thank you. Milan

[2018-06-15 11:51] f3l1x commented on #667
I'm not sure, but it looks like exports are realized as handlers and thus are fired before render. Right @paveljanda ?

[2018-06-16 04:56] f3l1x opened #669 "[6.x] roadmap"
We should set some expectation on future development.

I must say, there will be BC breaks, it sure. But don't worry, we will try to make it more pleasant.

Changes:
- Nette >=3.0 only
- PHP >=7.3 only
- change namespace Ublaboo -> Contributte
- transfer dynamic doc on Github docs (to display it on https://contributte.org)
- apply contributte's codestyle
- apply phpstan
- rewrite completely tests

[2018-06-20 05:58] janmottl opened #670 "Inline editing doesn't work for primary keys which include spaces"
Inline editing doesn't work for primary keys which include spaces. In line editing is not displayed.

I have a primary key "OP žadatele o ÚL". It resulted into a snippet "snippet-acomplDatagrid-item-OP žadatele o ÚL" which was not processed successfully. I have to to create redundant alternative key.

[2018-06-20 08:19] dakorpar commented on #670
First flaw I see here is that you should not really have such a primary key. IMHO your best solution for this is to add autoincrement id field in table as pk and set this field as unique if you need it unique. You could make up some virtual private key for table but this will allways cause issue since it's going to be hard to connect it with real row and you need to make sure it won't happen that

[2018-06-21 07:08] janmottl commented on #670
Hi, thanks for your opinion.
It's clear that alternative generated key solves described Datagrid problem and its limitations. I have described this workaround already in last sentence my first post.

There are only two requirements on primary key from data modeling point of view. It must be NOT NULL and UNIQUE. From data modeling point of view:
- there are no limitations on primary key content. Pr

[2018-06-22 08:18] camohub opened #671 "Filter with default filter"
Hi,
I found an issue in filters. If I have date filter on column and it has default filter value. The problem appears if I clear filter input manually to empty string "". Datagrid does not set default filter in this case and also hides the reset button. So I am not able to reset grid to default filter. Here is the code. I am using it with Nextras ORM.
[code]
It is not fatal but it has to be fixed

[2018-06-22 20:27] Naxmars commented on #652
Today I had same problem. I created pull request
https://github.com/contributte/datagrid/pull/672

[2018-06-26 12:37] romanmatyus opened #673 "ColumnsSummary->setPositionTop()"
Please, it's a chance that it will be merged PR for this feature?

[code]

Thanks

[2018-06-26 12:38] paveljanda commented on #673
@romanmatyus Is there any PR for that feature?

[2018-06-26 12:41] romanmatyus commented on #673
@paveljanda No, the question is whether it makes sense to do it :)

[2018-06-26 12:41] paveljanda commented on #673
I guess it does. What do you think @f3l1x?

[2018-06-26 12:57] f3l1x commented on #673
I like it. PR is welcomed ;-)

[2018-06-26 15:00] Salamek opened #674 "Doctrine: Filter on related column is not working"
I have relation like `City` -> `Country` where in `CityGrid` i want to filter by `Country.name`:

City model:
[code]
Country Model:
[code]

CityRepository

[code]

CityGrid
[code]
Country.name is rendered just fine:
![screenshot from 2018-06-26 16-46-56](https://user-images.githubusercontent.com/1226241/41920264-a39cf330-7960-11e8-964a-dcb02737f269.png)

But when i try to filter by Country.name it

[2018-06-27 08:29] f3l1x opened #676 "NPM: don't pack vendor folder"
PhpStorm suggest double classes at this moment.

[2018-06-29 09:44] holantomas commented on #579
I solved it by setting up summary column inside `InlineEdit::$onSubmit`. This is not nice solution but works.
**SummaryColumn** callback running for each row(on inline edit is loaded only one/edited one) so be carefull.

**My datasource is Doctrine QueryBuilder, so implement you summary from DB is on you.**
[code]

[2018-07-03 21:30] xpackal5 opened #678 "Bootstrap4 branch - inline edit problem"
Hi.
If you click on big inline edit icon (pencil) AJAX redraw row to form and all other rows dissapear.

[2018-07-04 07:08] xpackal5 commented on #678
I found that $datagrid->redrawItem($id) does not work correctly (redraw only one row and other rows disappeared)

[2018-07-07 18:57] f3l1x commented on #416
Ping @paveljanda ;-)

[2018-07-07 19:01] f3l1x commented on #638
I think it's already fixed in v5.x branch and all problem resolved. Closing for now.

[2018-07-07 19:01] #638 closed

[2018-07-07 19:03] f3l1x opened #680 "Bump v5.7.0"
I would like to prepare v5.7.0.

Including:
- bootstrap 4 branch [#416]
- NPM enhancement [#676]

Any other ideas? Please consider we're moving to PHP 7.1 in v6.x, thus, no big feature requests please.

cc @paveljanda

[2018-07-09 16:30] vladimirbiro commented on #673
$datagrid->setColumnsSummary()->setPositionTop() is ready in PR :)

[2018-07-10 08:06] martinknor commented on #649
PR: https://github.com/contributte/datagrid/pull/683

[2018-07-10 08:34] #601 closed

[2018-07-10 08:37] f3l1x commented on #649
Thanks. @paveljanda ?

[2018-07-10 16:54] czPechy commented on #664
Mee too. I fix this with setValue() with all keys

[2018-07-12 08:24] f3l1x commented on #676
Resolved via #676

[2018-07-12 08:24] #676 closed

[2018-07-13 12:08] pitr82 commented on #618
Hi @paveljanda , @f3l1x
When can I expected support for Font Awasome 5 ?
Now we use only version 5 PRO.

[2018-07-13 12:09] f3l1x commented on #618
Well, from my point of view, I don't know. I have to tried to use FA 5 and it was hell for me. Maybe I was doing something wrong, but until now I use FA 4.

Would you be able to prepare PR with FA?

[2018-07-19 12:14] jaroslavlibal opened #690 "Item detail with the UUID entity identifier"
Hello,

is there any chance to set the `$grid->setItemsDetail();` when we use Doctrine and the `ramsey/uuid` as the entity identifier?

The `_datagrid_toggle_detail` is always `null` in the response when the primary key value is an object. So we need to pass the `$id->toString()` to the detail link generator somehow.

Thanks!

[2018-07-22 22:29] haelexuis opened #691 "Cached filters in cookies"
Hello, could you please check if filter still exits in PHP? I deleted 1 column from table and code, but apparently, I filtered that column before, and it remained in my browser cookie cache, you know what I mean.

Ublaboo\DataGrid\Exception\DataGridFilterNotFoundException: Session filter: Filter [description] not found

[2018-07-23 07:05] paveljanda commented on #691
@haelexuis `DataGrid::setStrictSessionFilterValues()` :)

[2018-07-23 07:05] #691 closed

[2018-07-26 08:48] romanmatyus commented on #673
Closed with https://github.com/contributte/datagrid/pull/682.

Thx for merge

[2018-07-26 08:48] #673 closed

[2018-08-10 11:54] milous opened #692 "Own FlashMessages"
Is there a reason why a datagrid doesn't render its own flashmessage? Sometimes I render more grid on one page and flashmessage on presenter are less user-friendly.

My usecase for example:
[code]
I can not send PR because I do not know how to do it nicely in css and js.

[2018-08-19 16:47] BigOHenry opened #693 "How to call custom JS before inline add/edit form is show"
Hello, i have problem with inline add/edit and selectize:

1. After click on add item the form for add is displayed.
2. I search for some string in selectize (loaded from DB) and found items are correctly displayed.
3. I select one of the found items and save the form.
4. Repeat the steo 1 above.
5. I click in the selectize input and there is item from step 3.

The goal is has always empty selecti

[2018-08-31 08:51] rumcais opened #694 "Bad detection of the datasource instance"
In brange master is missing use Dibi; (DataModel.php)

[2018-08-31 09:33] f3l1x commented on #694
Could you please send a PR? It would be helpful.

[2018-08-31 10:07] Nethe opened #695 "Attempt to read missing column 'id'."
Hi Guys.
I am just new user of datagrid, so I'm having a little issue.
I have a basic DataGrid component:

        public function createComponentNearestHotspotsGrid($name)
        {
            $items = $this->homepageModel->getAllHotspots();

            $grid = new DataGrid;
            $grid->setDataSource($items);

            $grid->addColumnNumber('hotspots_hotspot_id', '# ID')

[2018-08-31 10:42] Nethe commented on #695
Ok, i missed `$grid->setPrimaryKey()`, so I'm sorry.

[2018-08-31 11:12] dakorpar opened #696 "Support for no primary key"
Sometimes I have really simple view only datagrids that don't have any primary key, currently I'm setting it to any column although it has duplicates works ok, but IMHO this should be supported.

[2018-08-31 11:27] #695 closed

[2018-08-31 19:37] rumcais commented on #694
#697

[2018-09-02 20:34] xpackal5 opened #698 "Doctrine ConversionException while using FilterDate"
Hi if i try use FilterDate or daterange on Doctrine datasource it throw ConversionException
Column in datagrid is text (and filter date) and in entity is datetime

![screen](https://user-images.githubusercontent.com/17193365/44960447-2d51da80-af00-11e8-95f8-81d4badaa58b.png)

[2018-09-05 18:46] f3l1x commented on #418
I'm closing it. Feel free to open it. :-)

[2018-09-05 18:46] #418 closed

[2018-09-14 07:06] BigOHenry opened #701 "Add $column parameter to setEditableCallback"
Hello, i am generating almost all datagrids dynamically and i need to add for some of them inline edit.
Big inline edit its not usable for me because of the way generating the edit form with datagrid (not after the click on edit button).

With small edit i have one problem. I generate the columns dynamically and i cannot set unique callback method for every possible column. The best way would be o

[2018-09-14 08:39] jaroslavlibal commented on #690
The problem is even worse when there is no join clause in the query builder as the datagrid tries to count(id.toString) and ends with the 'id' is not defined error - so the workaround does not work.

[2018-09-14 15:59] BigOHenry opened #703 "Please add setHtmlAttribute() to addExportCallback button"
Please add `->setHtmlAttribute()` to `addExportCallback` button. There is no way how to disable the button now.

Thank you very much!

[2018-09-17 10:33] martinvenus commented on #416
Is there any progress pls? @jaroslavlibal mentioned that we are using this branch without any problem.

[2018-09-24 07:58] martinvenus commented on #416
It seems that it takes more time to merge this branch to master. Could you please merge current master to this branch?

[2018-09-29 21:32] f3l1x commented on #416
Bootstrap 4 is merged to v5.x.

https://github.com/contributte/datagrid/pull/700
https://github.com/contributte/datagrid/pull/699

[2018-09-29 21:32] #416 closed

[2018-09-29 21:33] f3l1x commented on #680
I think we can release v5.7.0? @paveljanda and others?

[2018-09-30 08:03] paveljanda commented on #680
@f3l1x Yes, let's do it.

[2018-09-30 18:17] paveljanda commented on #473
Maybe in future? :)

[2018-09-30 18:17] #473 closed

[2018-09-30 19:29] #546 closed

[2018-09-30 19:29] #539 closed

[2018-09-30 19:43] #508 closed

[2018-09-30 19:43] #481 closed

[2018-09-30 19:45] paveljanda commented on #469
Already done in https://github.com/contributte/datagrid/pull/657

[2018-09-30 19:45] #469 closed

[2018-09-30 19:46] #458 closed

[2018-09-30 19:46] #453 closed

[2018-09-30 19:54] #446 closed

[2018-09-30 19:55] #438 closed

[2018-09-30 20:03] #402 closed

[2018-09-30 20:06] paveljanda commented on #380
Me too. But a whole new js picker would be needed. Maybe in future.

[2018-09-30 20:06] #380 closed

[2018-09-30 20:06] #370 closed

[2018-09-30 20:08] #285 closed

[2018-09-30 20:08] #234 closed

[2018-09-30 20:12] paveljanda commented on #212
Maybe in some future PR. :)

[2018-09-30 20:12] #212 closed

[2018-10-01 07:46] romanmatyus commented on #473
@paveljanda Maybe in next life, not enough time :/

[2018-10-02 14:07] martinvenus commented on #416
It seems that there is some problem with updating v5.x-dev (https://packagist.org/packages/ublaboo/datagrid#v5.x-dev) on packagist. Last commit there is "e7cacbe" but should be "29915f0". Could you please check it?

[2018-10-03 16:55] paveljanda commented on #619
@maraerben You can send a PR. :)
I would also consider the hidden columns feature.

[2018-10-03 16:55] #619 closed

[2018-10-04 06:54] Bezdekm commented on #234
Is there any implementation in the new version of ublaboo dg?

[2018-10-05 13:13] Jurix opened #704 "Please repair assets"
Hi,
datagrid/assets/dist/datagrid.css contains CSS directives for spinners instead of datagrid directives.

thanks

[2018-10-05 16:14] paveljanda commented on #635
#634 was merged. :)

[2018-10-05 16:14] #635 closed

[2018-10-05 16:15] paveljanda commented on #624
This bug is fixed in the bootstrap-4 branch as you mentioned.

[2018-10-05 16:15] #624 closed

[2018-10-05 16:19] paveljanda commented on #621
@janmottl Would do you propose?

[2018-10-05 16:20] paveljanda commented on #615
@repli2dev And can you send a PR that will fix that?

[2018-10-05 16:21] paveljanda commented on #614
@repli2dev And what do you propose?

[2018-10-05 16:30] paveljanda commented on #579
Hmm, that is interesting. Could you possibly send a PR?

[2018-10-05 16:31] paveljanda commented on #578
Well, I really don't know. Do you have any idea? :) I would merge it definitely.

[2018-10-05 16:36] paveljanda commented on #574
@FilipLukac Actually the aggregation functions is the only undocumented feature of this datagrid. :/

But the `FunctionSum` should work properly.

[2018-10-05 16:48] camohub commented on #591
So no support for Nextras/ORM?

[2018-10-05 16:49] paveljanda commented on #591
I don't really use Nextras so if you know where the problem is, you can send a PR - I would appreciate it.
Or can you prepare a sandbox-like application that will use nextras and show that behaviour?

[2018-10-05 18:14] camohub commented on #591
I dont know your code. Is impossible to make PR for me. also I dont think the problem is related with Nextras. It seems it is much more related with https://dev.mysql.com/doc/refman/8.0/en/information-functions.html#function_found-rows or https://stackoverflow.com/questions/52532237/select-count-and-data/52532959#52532959

[2018-10-06 06:36] repli2dev commented on #614
@paveljanda No idea... as I do not understand the internals.

[2018-10-06 18:16] holantomas commented on #579
@paveljanda Who do you said that?

[2018-10-06 19:56] paveljanda commented on #579
@holantomas Anyone capable of fixing it. Or could anyone possibly send a sandbox-like application with this behaviour for me to test it and fix in using the sandbox app?

[2018-10-07 04:59] janmottl commented on #621
My proposal is to add a new parameter to onSubmit function:
$grid->getInlineEdit()->onSubmit[] = function($id, $valuesVisible, $valuesHidden) {
}

[2018-10-07 11:56] zelina commented on #607
of course

[2018-10-08 10:49] #704 closed

[2018-10-08 10:49] f3l1x commented on #704
Fixed. Could you test it please?

[2018-10-08 11:15] f3l1x commented on #680
Done

[2018-10-08 11:15] #680 closed

[2018-10-08 13:39] Jurix commented on #704
Thank you, code looks better now. However I still cannot make it work with Bootstrap 4.
All assets included but some elements doesn't look good (as you can see in attached screenshot).
Any suggestion?

![screenshot_datagrid](https://user-images.githubusercontent.com/9659882/46612092-e57e2e80-cb0f-11e8-87d9-2bc8a1427fc4.jpg)

[2018-10-08 13:41] CZechBoY commented on #676
@f3l1x via #681?

[2018-10-08 13:42] f3l1x commented on #676
Yep ;-) Thanks

[2018-10-09 14:19] mafikes commented on #642
Yes it works, sorry.

Fixed by
`$grid->addFilterSelect('column', 'Search', [], 'table.column');`

[2018-10-09 14:19] #642 closed

[2018-10-09 14:48] Jurix opened #707 "Set column unhideable"
Hi,
It would be nice to have method for setting a column unhideabe when $grid->setColumnsHideable() is set.
When I use inline add with expected column hidden, add doesn't work.
Thanks

[2018-10-10 07:32] Jurix commented on #704
Now it is all right, thank you

[2018-10-10 08:47] radekdostal opened #708 "Horizontal scroll bar of page is always visible (IE, Edge)"
DataGrid v5.7.0 with Bootstrap 4.1.3.

If DataGrid is placed in .container-fluid, in IE and Edge is always visible page horizontal scrollbar. FF, Chrome and Opera are OK. With BS 3 is it OK in all browsers.

![datagrid-ie-edge-hscrollbar](https://user-images.githubusercontent.com/375717/46724143-b5529f00-cc79-11e8-99d2-575ad92bb3be.jpg)

[2018-10-11 10:02] BigOHenry commented on #701
There is a another way how to do it. Just use **setEditableCallback**.

[2018-10-11 10:02] #701 closed

[2018-10-16 08:55] janmottl opened #709 "Suppress remembering of active page"
It's unwanted feature that grid remembers active page when grid is opened next time. Is it possible to suppress remembering of active page?

[2018-10-16 10:44] janmottl commented on #709
I have found a solution:

        $grid = new DataGrid($this, $name);
        $grid->saveSessionData('_grid_page', 1);

[2018-10-16 22:18] #674 closed

[2018-10-18 06:11] janmottl opened #711 "NetteDatabaseDataSource.php - Unhandled date creation in filters"
NetteDatabaseDataSource.php - there is unhandled date creation in filters. It crasches when \DateTime::createFromFormat returns false. It's necessary to check if $date_from and $date_to is false.

`	public function applyFilterDateRange(Filter\FilterDateRange $filter)
	{
		$conditions = $filter->getCondition();

		$value_from = $conditions[$filter->getColumn()]['from'];
		$value_to   = $conditions[

[2018-10-20 15:52] zelina commented on #607
It has been fixed already :) ... in march :)

[2018-10-20 15:52] #607 closed

[2018-10-23 14:35] mlazovla opened #713 "Fail throw exception if parent is null"
https://github.com/contributte/datagrid/blob/0544292cefbb11fe8077d5e9e8d65a77d151dd61/src/DataGrid.php#L3521

It can be fixed with
`"DataGrid is attached to: '" . $parent ? get_class($parent) : 'null'. "', but instance of PresenterComponent is needed."`

[2018-10-26 15:05] FantomX1-github opened #715 "Suggestion - colspan for header or body"
Suggestion - colspan for header or body

[2018-10-26 15:06] FantomX1-github opened #716 "Suggestion - Parametrizable template or inline template body"
Parametrizable template or inline template body

[2018-10-26 15:06] FantomX1-github opened #717 "Suggestion - Ability to add multiple action buttons columns"
Suggestion - Ability to add multiple action buttons columns

[2018-10-27 10:15] petrparolek opened #719 "AggregationFunction in template"
Result of AggregationFunction is not rendered in template.

I created PR #718

EDIT: I found another bug in pagination on results of aggregationFunction. I include in this PR

[2018-10-29 11:20] dakorpar commented on #719
Just saw this bug also when updating to 5.7. Any ETA on this @f3l1x @paveljanda  or do we have to downgrade for now?

[2018-10-29 11:55] #623 closed

[2018-10-29 12:03] f3l1x commented on #550
NPM package works. Closing it.

[2018-10-29 12:03] #550 closed

[2018-10-29 12:04] f3l1x commented on #652
Resolved via 4aa93a4eb1a38fd84391c96e31d8fe00841f88c1 and #672.

[2018-10-29 12:04] #652 closed

[2018-11-07 14:51] jan-oliva opened #722 "JS inline add"
Pokud pokud zobrazím inline add řádek, odešlu tlačítkem uložit, Tak se řádek s formulářem skryje i když nedojde k přidání záznamu. Např. když projde js validace ale php validace neprojde. Pak musím znovu kliknout na +, aby se mi řádek s formulářem přidal zobrazil.
V dattagrid.js se mi nedaří se mi najít, kde je uděláno, že se ten inline add řádek skryje  před odesláním Ajax requestu.

Tušíte, kde

[2018-11-07 15:39] petrparolek opened #723 "Bug in DataGridPaginator with translator"
Version: v5.x (3c8ee74)

Example:
[code]

If set translator, show all items per page doesn't work

[2018-11-09 12:22] BigOHenry opened #727 "Cell edit (small edit) and datepicker"
Please add support of custom (etc. bootstrap) datetimepicker (date and datetime) in column edit.

[2018-11-15 11:20] BigOHenry opened #728 "Datagrid as component in form component - filter submit bug"
I have a form component and inside that i am creating datagrid component. When i want to submit a form or add container with button to WebChemistry/Multiplier (its a replicator) the filter is submitted even there is no filter... After filter submit any form operation is skipped (data save, my snippets refresh, etc.)
[code]

Any idea what to do with this bug? Or am i doing something wrong?

[2018-11-17 18:51] martingold commented on #669
Awesome!.. Could you tag existing issues and create new ones describing what you need help with towards reaching v6?

[2018-11-17 19:05] martingold commented on #728
So basically you have nested forms because the datagrid itself is a form. Not sure if this behavior is indeed supported. Even HTML5 itself [does not support](https://stackoverflow.com/a/26536925) this feature.

From top of my head, you could modify the datagrid [template](https://github.com/contributte/datagrid/blob/v5.x/src/templates/datagrid.latte) (you do not use filters anyway) in which you wo

[2018-11-19 09:10] radekdostal commented on #728
[code]
[code]

[2018-11-21 11:07] BigOHenry commented on #728
Thank you very much. Looks like it works!

[2018-11-22 06:05] janmottl opened #729 "Horizontal and vertical grid scrolling"
Customer requires:
- horizontal and vertical grid scrolling
- table header should be fixed on vertical scrolling
- paging, group actions and setting should not move on horizontal scrolling

The best would be if this functionality would part of datagrid.

My customer insisted on this functionality so I had to impelement it. It's a JavaScript function.
It would be easier to implement it directly in

[2018-11-22 13:17] jaroslavlibal opened #730 "The FilterRange filter does not work with a zero value"
The FilterRange filter does not work correctly when one (or both) of the limit values equals to 0 (zero).

**Steps to reproduce:**
1. Add the number (or text) column to the datagrid.
1. Add the FilterRange filter using the `->setFilterRange()` method.
1. Seed the datasource with random numbers (positive and negative).
1. Use the '0' value as the "to" limit.
1. The filter is not applied.

The same

[2018-12-04 15:35] slownet opened #731 "Is there a possibility of disabling default sorting?"
As a data source, I have wrapped SQL with necessary ordering. Datagrid generates this SQL:

`SELECT *
FROM (
select *
from user
order by name) val
ORDER BY "id" ASC
LIMIT 15`

So, I want to disable default sorting by primary key. Is it possible?

p.s. you have a typo in documentation here:
https://ublaboo.org/datagrid/column

`$grid->setDefaultSort('id' => 'DESC', FALSE);`

should be:
`$grid->setD

[2018-12-05 07:39] f3l1x opened #732 "[6.0] Nette 3.0"
According to PoSobota and talk with @dg. We can prepare a next version, propably major 6.0, with full support of Nette 3.0 packages.

[2018-12-05 13:52] BigOHenry opened #733 "Export callback and replaced values"
Hello,
i have custom export callback and i want to export as is data from datagrid. When i am using custom export callback i am able get data as is from database without applied renders, replacements, etc..

Is there any way how to get datagrid data with "translated" data?

Or i have to again mannualy replace values in export?

[2018-12-16 14:56] f3l1x commented on #632
This is solved by other package. ublaboo/responses will be dropped since v6.0.0.

[2018-12-16 14:56] #632 closed

[2019-01-07 06:38] aleswita opened #734 "onRender event"
Hi @paveljanda, @f3l1x

I have one question, I'm using DataGrid with Doctrine and in one specific case, can not use QueryBuilder and I'm sending data to DataGrid like bellow
[code]
So, problem is, when I use inline edit, because after edit the row, changes not redraw.

I'm using workaround, than first set empty QueryBuilder and on event onRender set real DataSource, look below
[code]

This is very

[2019-01-17 23:53] rixafy opened #735 "UUID support in addAction (signal)"
Hi, recently I tried make Edit button in datagrid, datagrid is in component which is attached to presenter.
I created handleEdit($id) in component for handling signal, but when I use link 'edit!' and parameters ['id' =>'id'], 'id' patameter does not appear in the link. I suppose the problem is that $item['id'] is Uuid object, not string or integer, so you need to cast it to string by calling toStr

[2019-01-18 07:57] paveljanda commented on #735
@rixafy You can send a PR with uuid support. :) (Most people use `ramsey/uuid`?)

[2019-01-18 09:16] JakubKontra commented on #735
@paveljanda  ramsey/uuid +1

[2019-01-18 10:53] rixafy commented on #735
@JakubKontra, what isn't supported exept this (it works well, but only when the href and parameters aren't used in action, and it's handled by router <id>)? Maybe I can look at it, but I'm using this datagrid with UUIDs maybe month and I had only this issue.

[2019-01-18 21:20] rixafy commented on #735
Fixed in https://github.com/contributte/datagrid/pull/736

[2019-01-18 21:20] #735 closed

[2019-01-29 09:03] Bezdekm commented on #622
Some problem.

[2019-01-31 11:10] dakorpar opened #738 "Naja support"
I would actually go with it also, but coffe script is kinda problematic, any issue to code this in js?
Anyone has this working already?

[2019-01-31 11:44] paveljanda commented on #738
There is no problem of doing it in JS. :)

[2019-01-31 13:57] dakorpar commented on #738
what about removing coffe script for existing part as well and rewrite this so it automatically detects naja/nette.ajax.js and so that we don't have duplicated code in two libs?

[2019-02-24 15:18] petrparolek opened #742 "BS 4 chybné zobrazení multiselect box v filtru"
ahoj, mohl by někdo prosím opravit bug v css? Když použiju Bootstrap 4.2 s https://github.com/snapappointments/bootstrap-select/tree/v1.13.5 , tak se špatně zobrazuje select box

![screenshot_2019-02-22 nette sandbox](https://user-images.githubusercontent.com/6066243/53301161-8bc49980-384f-11e9-896c-6d483c0684ab.png)

Takhle select box má vypadat:
![screenshot_2019-02-22 nette sandbox 2](https://u

[2019-02-25 10:39] dakorpar commented on #742
English please?

[2019-02-25 10:44] petrparolek commented on #742
@dakorpar In English for you - could anybody fix a bug in CSS please? When I use Bootstrap 4.2 with Bootstrap-select 1.13.5, select box is shown worong

[2019-02-25 13:17] JKoty opened #743 "DoctrineDataSource - Chyba při HIDDEN ORDER BY"
`
$qb->addSelect('CASE WHEN entity.assignedAt IS NULL THEN 2 ELSE 1 END AS HIDDEN priority');
$qb->addOrderBy('priority', 'DESC');
$grid->setDataSource($qb);
`
vyhodí část se selectem v `getCount()` při získávání počtu, což způsobí query exception kvůli chybějícímu parametru `priority`.

[2019-02-25 13:30] JKoty commented on #743
Přidání `$data_source->resetDQLPart('orderBy');` do `getCount()` to řeší. Jelikož je tam data source naklonovaný, nemělo by to mít neočekávané důsledky.

[code]

Nenašel jsem, jak se přispívá do Contributte a nemám s tím zkušenost. Když mi to někdo vysvětlí, tak to příště budu moci přidat nějak korektněji :)

[2019-02-25 13:35] paveljanda commented on #743
@JKoty Díky, super. Zkusil jsem na základě tvého issue udělat Pull Request: https://github.com/contributte/datagrid/pull/744

Můžeš si ho zkusit udělat taky podle návodů (https://www.youtube.com/watch?v=rgbCcBNZcdQ) a my ho pak mergnem. Tak řekni, jestli do toho chceš jít, ať máš taky nějaký příspěvek v Contributte. :)
Pokud ne, mergnem ten, co jsem poslal. :)

[2019-02-25 14:11] f3l1x commented on #669
@martingold I will try to ;-)

[2019-02-25 17:05] JKoty commented on #743
Dík za návod, hned zítra to zkusím ;)

[2019-02-26 07:47] JKoty commented on #743
No jasně, nenapadlo mě, že si musím repozitář nejdřív forknout, místo abych ho klonoval.
Tady. Dík :)
#745

[2019-02-26 08:39] #743 closed

[2019-03-02 21:23] f3l1x opened #748 "[6.x] Separate nette/database datasource"

[2019-03-02 21:24] f3l1x opened #749 "[6.x] Separate dibi datasource"

[2019-03-02 21:24] f3l1x opened #750 "[6.x] Separate doctrine dbal+orm datasource"

[2019-03-02 21:24] f3l1x opened #751 "[6.x] Separate leanmapper datasource"

[2019-03-02 21:26] f3l1x opened #752 "[6.x] Separate nextras orm+dbal datasource"

[2019-03-02 21:31] f3l1x commented on #625
Please, test it again according to master branch.

[2019-03-02 21:40] f3l1x commented on #669
@martingold Better? :-)

[2019-03-04 10:58] dakorpar commented on #669
I would really love it if tests are in phpunit which is far better supported. nette tester plugin for phpstorm is crashed for few months already...

[2019-03-05 09:41] martinknor opened #753 "_datagrid_name should be uniqueId of component"
Because  `$.nette.ext('datagrid.reset-filter-by-column'` works with name, but if component is under other component - link to reset column doesnt work.

For example, i have component **test** and **grid** under test component. link to reset filter is `&do=test-grid-resetFilter`, but name is only grid and nette.ext would change `&do=grid-resetFilter`

`new_href = href.replace('do=' + payload._datag

[2019-03-06 09:10] BigOHenry commented on #625
Its working for some time already :-) Thank you!

[2019-03-06 09:53] f3l1x commented on #625
Thanks.

[2019-03-06 09:53] #625 closed

[2019-03-06 15:25] paveljanda commented on #669
@dakorpar nette/tester can be simply ran using command line interface. :) I would stick to nette/tester because of its simplicity.

[2019-03-06 18:01] dakorpar commented on #669
@paveljanda sure you can, but having codecoverage directly in IDE is big plus plus right click and debugging selected test method is huge advantage and thats not possible woth nette tester... :)

[2019-03-06 20:43] martinknor opened #754 "Error with all pagination"
There was error with all items from pagination, because in result is translated value and condition reset value to first.

$items_per_page_list contains

[code]

This
[code]
must be
[code]

[2019-03-07 08:22] BigOHenry opened #755 "onRedraw[] is executed before datagrid was redrawed"
`OnRedraw` defined in datagrid component is executed **before** datagrid itself was redrawed.
Is there any option to redraw this snippet after datagrid was redrawed?
[code]

[2019-03-09 10:17] petrparolek commented on #754
I had same problem. I sent PR, which waiting for merging #724

[2019-03-09 10:55] f3l1x commented on #754
Could you guys please create reproducible simple demo or add some tests into #724? It would be great. Thanks.

[2019-03-11 10:20] f3l1x opened #756 "[5.8] roadmap"
- support Nette 3.0

[2019-03-21 19:00] jiriermis opened #762 "InlineAdd vs Filter - validationscope"
Hi
I use inlineAdd/inlineEdit where inputs are setRequired. I have also filters. When typing text to a filter, it shows a message that inputs from inlineAdd/inlineEdit  are mandatory and the filter doesn't work. If I open inlineAdd and immeditelly close it by button cancel, then the filter works properly, until I hit reset filter button.

Please help to fix the issue. It is know long time. I saw s

[2019-03-24 20:19] paveljanda opened #763 "PHP 7.2 types"

[2019-03-27 10:27] czita opened #764 "FilterText filtering with quotation marks"
Hi,
could be changed behavior in filterText to filtering with quotation marks?
Google like, for example: "not splitted search" and next splitted words

Because simple split by spacing is not enought.

Better could be something like this:
[code]

Regular expression from https://stackoverflow.com/a/366532

[2019-04-02 15:23] genesiscz opened #766 "Please provide an instance of Ublaboo\DataGrid\DataSource\IDataSource or an array search"
This if statement breaks old code where I was used to `$this->setDataSource($netteDatabaseSelection)`.

https://github.com/contributte/datagrid/blob/a328e35b96885517a616b2d86bdb98378831dae1/src/DataGrid.php#L504

Using 6.0 version

[2019-04-02 15:27] paveljanda commented on #766
:D Aaaa there is no 6.0 version yet.

IOn 6.0, there **will be** BC breaks. But this one will not break backward compatibility - see https://github.com/contributte/datagrid/blob/v6.x/src/DataGrid.php#L502

[2019-04-02 15:27] #766 closed

[2019-04-02 16:31] genesiscz commented on #766
Oh, okay. Anyway, I tried to `composer require ublaboo/datagrid:~5.8` to make it work again with Nette v3 but in fails on
[code]

How am I supposed to install Ublaboo on Nette3 right now?

[2019-04-02 16:32] paveljanda commented on #766
It is not possible yet. We were waiting for other packages to  migrate to nette 3.0.  We are currently working on the 6.0 version. It will be here soon. :)

[2019-04-02 16:33] paveljanda commented on #766
But if the datagrid works for you in branch `v6.x`, it is a great news! I did not test it yet - I am only refactoring and fixing phpstan bugs..

[2019-04-02 16:48] genesiscz commented on #766
It doesn't :)

[2019-04-02 16:48] paveljanda commented on #766
What does that mean? Do you have some detailed answer?

[2019-04-02 16:57] genesiscz commented on #766
Hmm I wanted to post an answer with lines pointing to github files, but got confused instead. If I am having composer pointing to ^6.0 version and in composer.lock I see it's v6.x-dev, which branch am I currently using then? It shows me that I have an error on this line:
`1022:         return $this->actions[$key] = new Action($this, $href, $name, $params);`
but when I look this line up on this rep

[2019-04-02 17:07] genesiscz commented on #766
Oh I had some terrible mix of versions installed or something I guess, I deleted the package entirelly, reinstalled, deleted the if statement in DataGrid.php and now I am getting deprecation errors like
`Nette\Utils\Callback::invokeArgs() is deprecated, use native invoking` right here

https://github.com/contributte/datagrid/blob/82c8df4d474bb0b746629abc24f547e769d18839/src/DataGrid.php#L395

Gues

[2019-04-02 17:11] genesiscz commented on #766
By the way you said this one won't be a BC break. How come it's not a BC break? I didn't get the hint from link you posted. What am I missing? Passing a simple Nette\Database\Table\Selection gives the InvalidArgumentException, which wasn't happening few versions earlier.

[2019-04-02 17:50] paveljanda commented on #766
I will fix the `invokeArgs` bug today.
You had some old commit. Current HEAD of `v6.x` branch should not show you the files you were point to.

[2019-04-10 11:18] jan-oliva opened #774 "Dibi setSortableCallback multisort called only for one sorted col"
Hello
I use setSortableCallback on more columns, but only setSortableCallback was called.
Grid show sort on more columns but, only is present in ORDER BY

[code]

I use datagrid version 5.7.1.

Can you help me please ?

Thanks

[2019-04-15 11:02] Sofiosko commented on #753
I Agree, can you make a pull request? I do not know if owner maintains this library but this is easy fix.

[2019-04-24 07:44] #754 closed

[2019-04-24 07:46] petrparolek commented on #719
done

[2019-04-24 07:46] #719 closed

[2019-04-24 07:46] petrparolek commented on #723
done

[2019-04-24 07:46] #723 closed

[2019-04-24 07:47] petrparolek commented on #742
ping @paveljanda  @f3l1x

[2019-04-24 07:48] f3l1x commented on #742
pong

[2019-04-24 07:54] paveljanda commented on #742
@petrparolek I am not using BS4 anywhere so can you please send some PR with css fix? Thank you. :)

[2019-04-24 07:55] petrparolek commented on #742
Ok, I can try it

[2019-04-25 13:16] patrickkusebauch opened #781 "Filter on `ArrayDataSource` is value is `null`"
**Error message:**
TypeError
Argument 1 passed to Nette\Utils\Strings::toAscii() must be of the type string, null given, called in /var/www/vendor/ublaboo/datagrid/src/DataSource/ArrayDataSource.php on line 149

**Datagrid version:** v6.x-dev

**Steps to reproduce**
1. Create a datagrid with ArrayDataSource, where one of the row values is `null`.
2. Try to filter over this value with `->setFilterS

[2019-04-25 21:07] dakorpar opened #782 "Default sorting direction by column"
Currently you can add
`$grid->setDefaultSort(['column' => 'DESC'], false);`
this will set default sorting by that column.
What I'm trying to achieve is set default sort direction for columns. BUT not to sort them immidiatelly, but when someone clicks on header column link for first time will it sort by DESC or ASC. Currently is allways ASC. Some columns should be first sorted DESC some ASC, based

[2019-04-30 18:34] patrickkusebauch opened #783 "Documentation? Column link external link"
Maybe this is not possible, but I am trying to add a link to an external site.

I was hoping to use ColumnLink.

I am sure, I can do it with ColumnText and a custom render function, but is this also possible with ColumnLink?

[2019-05-03 07:08] #728 closed

[2019-05-14 20:54] paveljanda commented on #762
Fixed in upcoming version 6 :)

https://github.com/contributte/datagrid/commit/5e8db96fa74606b8f34b31e90ae867d113e60431

[2019-05-14 20:54] #762 closed

[2019-05-14 20:56] paveljanda commented on #610
It is fixes in upcoming version 6 :)

https://github.com/contributte/datagrid/commit/5e8db96fa74606b8f34b31e90ae867d113e60431

[2019-05-14 20:56] #610 closed

[2019-05-14 20:57] paveljanda commented on #621
Could you please send a PR into branch v6.x? Thanks a lot. I like your suggestion

[2019-05-15 05:56] janmottl commented on #621
yes. I hope I have done what you have expected.

[2019-05-27 14:26] BigOHenry opened #790 "Datetime column - error when value is null"
![datagrid-date](https://user-images.githubusercontent.com/15823552/58426090-dd253480-809b-11e9-8f96-baec445678e2.png)

[2019-05-27 20:15] paveljanda commented on #790
Thank you! It if fixed in `master`: https://github.com/contributte/datagrid/commit/6e52a5afabd48d20f6d72049f4998b90bd8b0ba2

[2019-05-27 20:15] #790 closed

[2019-05-29 20:49] rumcais opened #791 "Old DibiFluent replaced by Dibi\Fluent for version 5.x"

[2019-05-31 06:05] kuchy opened #792 "Reversed logic in setHeaderEscaping."
By function doc it means:
`Should be column header escaped in latte?`
and real logic act reversed:
`->setHeaderEscaping(true)`
will turn **off** escaping of header name (turn on ussage of noescape) and
`->setHeaderEscaping(false)`
will turn **on** escaping of header name in template.
It's bug or feature?

[2019-05-31 07:49] paveljanda commented on #791
Actualy the is also `Dibi\Fluent` support. I will not backport ramoving "DibiFluent" class alias to 5.x because that would cause BC break.

I recommend using v6.x. :)

[2019-05-31 07:49] #791 closed

[2019-05-31 07:50] paveljanda commented on #792
Uups that is probably a bug. I will fix it. Thanks.

[2019-05-31 07:57] #792 closed

[2019-05-31 11:58] BigOHenry commented on #790
Working. Thank you!

[2019-05-31 12:25] f3l1x commented on #756
Nette 3.0 is supported since 6.0

[2019-05-31 12:25] #756 closed

[2019-05-31 12:38] #763 closed

[2019-05-31 12:38] #732 closed

[2019-06-02 10:06] zahry369 opened #793 "přidání třídy pro stylování"
Prosím šlo by přidat do hlavičky tabulky class, zatím je jen u akcí (row-group-actions), šlo by přidat i u textů a taky při filtrování?
Děkuji

[2019-06-02 14:02] petrparolek commented on #793
můžeš mít vlastní šablony, viz https://contributte.org/packages/contributte/datagrid/template.html

[2019-06-02 17:04] zahry369 commented on #793
Souhlasím s tím, ano i toto je řešení.
Ale beru to tak, že možnost jak pomoci těm co si chtějí vytvořit vlastní styl.
Promiň, proč je tedy styl jen u jednoho řádku hlavičky a u ostatních ne?

[2019-06-03 11:40] kuchy opened #794 "New event BeforeRender?"
Hi, I using custom DataSource, for some kind of API that can be unreachable, I can handle error on my side, but It's would be great to have BeforeRender event for showing some message or pass next data to the template (example: "We had Planned outage of XY api..be calm"). Means that data should be already loaded, but render not printed. Now I can handle error but cannot render any extra message (o

[2019-06-04 12:53] BigOHenry opened #795 "paginator option 'All' does not work - v5.7.2"
Hello, i have problem with paginator when is selected All option. Page is refreshed, but displayed values are from first option of Paginator (default 10).

Using latest Nette 2.4 and Dibi 4. Data source is Dibi Fluent.

I found problem in method `getPerPage` at class ` \Ublaboo\DataGrid\DataGrid`:
[code]

Thank you!
EDIT:
Problem is when values are translated. The condition looking into values (in

[2019-06-04 13:26] BigOHenry commented on #795
I closed the PR because i need glasses (more info there). Could you make 5.x release with the fix please?

Thank you!

[2019-06-05 07:32] martenb opened #797 "[6.x] Reset filter exception"
Submitting reset filter button causes TypeError exception...

![image](https://user-images.githubusercontent.com/13311472/58938220-a8d50680-8774-11e9-9727-2bf789b528e5.png)

[2019-06-05 07:35] paveljanda commented on #797
Could you please simulat this bug in https://github.com/planette/playground/blob/master/contributte-datagrid/README.md and send me your repo? Thanks!

Or maybe you can send a PR with fix?

[2019-06-05 08:04] martenb commented on #797
It looks like, that this is fixed in v6.x branch, I have 6.0.1 in my project, where it is not fixed yet...

[2019-06-05 08:07] paveljanda commented on #797
Is it fixed also in `master`? `master` is current development branch.

[2019-06-05 08:15] martenb commented on #797
No it is not, i found pull request to v6.x

https://github.com/contributte/datagrid/pull/778

[2019-06-07 06:50] BigOHenry commented on #783
Nope, only way what i know is custom render.

[2019-06-07 06:58] BigOHenry opened #798 "6.x - Phpstan vs $grid->addFilterDate()->setFormat()->setCondition();"
Hello
I have a question about version 6.x and phpstan. I have this defininition of filter:
[code]

But phpstan lvl 5 showed this error:
`Call to an undefined method Ublaboo\DataGrid\Filter\IFilterDate::setCondition(). `

Any idea how to fix this?
Thank you very much

[2019-06-07 11:18] petrparolek commented on #783
or you can do redirect on presenter action

[2019-06-16 13:35] #783 closed

[2019-06-16 14:34] f3l1x commented on #783
Cc @paveljanda. Don’t we really support these links?

[2019-06-16 15:46] paveljanda commented on #783
No it is not possible right nos.

[2019-06-16 20:06] kuchy commented on #794
Any thought?

[2019-06-18 14:39] arwin009 opened #801 "setColumnsSummary() not working with callback"
https://github.com/contributte/datagrid/blob/30a5bc7a58ebf44174970e3423aa87d49738db76/src/DataGrid.php#L3049

I believe this condition is incorrect for checking if the argument is callable, therefore the method `setColumnsSummary()` is not working with callback.

[2019-06-21 07:50] BigOHenry opened #803 "StatusColumn doesn't work"
Hello,
i have this array for column status:
![image](https://user-images.githubusercontent.com/15823552/59906537-3cf7cc80-9409-11e9-8b5b-95f9acc50d79.png)

Result in datagrid:
![image](https://user-images.githubusercontent.com/15823552/59906620-7a5c5a00-9409-11e9-8b39-c27651af9d28.png)

Problem is method `getCurrentOption` in `Ublaboo\DataGrid\Column\ColumnStatus` class:
[code]
There is a dump:
![

[2019-06-21 08:00] BigOHenry commented on #803
I made PR for option **2)**

[2019-06-21 14:01] BigOHenry opened #805 "Two datagrids (different components) on same page - ItemsDetail bug"
Hello,
when i have two different datagrids (different components) on the same page and both has ItemDetail function there is a conflict:

**Use case 1:**
**1)** **datagrid 1** - click at eye on row with primary key `10` and item detail is shown correctly and click again to close it.
**2)** **datagrid 2** - click at eye on row with primary key `10` (different data but same key) -> on **datagrid 1**

[2019-06-25 18:05] jiriermis commented on #797
I have the same issue. If I set `$grid->setRememberState(false);`
the pressing reset filter button gives
TypeError
Argument 1 passed to iterator_to_array() must implement interface Traversable, array given

[2019-06-27 07:28] becygroup commented on #797
I have the same issue in v6.1.1 `Argument 1 passed to iterator_to_array() must implement interface Traversable, array given`

[2019-07-03 12:48] TakeruDavis opened #806 "Problem with sorting by a 'combined' column"
When I make a column, which combines data from two fields and use the third argument to declare  those columns for filter as mentioned in documentation
`$grid->addFilterText('name', 'Search', ['name', 'surname', 'company', 'address']);`
then try to add sorting by such column, I get an error

on [this line](https://github.com/contributte/datagrid/blob/v6.1.1/src/DataGrid.php#L813)  (`$sort[$column-

[2019-07-05 07:21] #801 closed

[2019-07-15 11:22] radekdostal commented on #806
Hi, I have similar issue.
'serial_number' is string (123/2019, ...)

`
$grid->setDefaultSort([
        'serial_number' => 'DESC'
      ]);
...
->select('[p.serial_number]')
->select('CAST(RIGHT([p.serial_number], %i) AS UNSIGNED)', 4)->as('serial_number_year')
->select('CAST(LEFT([p.serial_number], %i) AS UNSIGNED)', 3)->as('serial_number_nr')
...

$grid->addColumnText('serial_number', 'Číslo')

[2019-07-29 11:15] peldax commented on #805
@paveljanda This is a bug in javascript. Results of itemDetail requests are cached (hidden), but the jQuery selector is global and not restricted to current datagrid only - Therefore cached version from first datagrid is found and shown.

[2019-07-30 08:08] Zarganwar commented on #754
Is it possible to publish this in version 5.7.3 as soon as possible?

[2019-08-08 09:33] aleswita opened #814 "Value '0' is out of allowed set [10, 20, 30, 50, 100] in field 'per_page'."
After upgrade to **v5.7.4**, datagrid throws an exception, after change the items per page:
[code]

[code]

[2019-08-08 09:37] radekdostal commented on #814
I agree. After clearing session only one record is shown.

[2019-08-08 09:37] paveljanda commented on #814
I will have a look at it

[2019-08-08 09:58] paveljanda commented on #814
Please downgrade your version. Tag `5.7.4` was not intended to happen.

[2019-08-08 09:58] #814 closed

[2019-08-08 10:05] radekdostal commented on #814
BTW v5.7.3 requires Nette 3.

[2019-08-08 10:07] paveljanda commented on #814
`5.7.3` was also deleted. No idea how it made its way into this repository. GitHub merges also tags from foreign branches when merging pull-requests??

[2019-08-08 13:37] jaroslavlibal commented on #797
@paveljanda I can confirm the `iterator_to_array()` problem when remember state is set to false. Also for the master branch. However I think it is a different issue than the reported one.

The problem is that the default value in Datagrid::getSessionData() [is an empty array when $key is null and remember state is set to false](https://github.com/contributte/datagrid/blob/master/src/DataGrid.php#L

[2019-08-10 07:25] lutor opened #816 "URL in repository's description points to 404"
URL points to https://contributte.org/packages/contributte/datagrid.html, but this page does not exists. The URL should be "https://contributte.org/packages/contributte/datagrid/" instead.

[2019-08-11 19:24] f3l1x commented on #816
Solved. Thanks.

[2019-08-11 19:24] #816 closed

[2019-08-12 07:05] BigOHenry commented on #805
Any idea how to fix it?

[2019-08-12 07:10] BigOHenry opened #817 "ItemDetail doesnt work when datasource is array"
Hello,
ItemDetail (Eye icon) doesnt work if the datasource is array. It will not return snippent for refresh:
[code]

[2019-08-13 14:33] #797 closed

[2019-08-14 10:50] peldax commented on #805
You need to modify jquery selectors to operate only on current datagrid - currently it searches globally.

[2019-08-26 11:47] enhazappe opened #825 "[v5.7.2] - getPerPage() not working properly"
Let grid pagination be

`$grid->setItemsPerPageList([10 => 10, 25 => 25, 50 => 50], FALSE);`

If pagination is changed, only 1 row out of X is shown, changing pagination back to default value does not work
![image](https://user-images.githubusercontent.com/32567073/63688535-f4dd9780-c807-11e9-8459-6572631061ee.png)

Changing page results in
![image](https://user-images.githubusercontent.com/325670

[2019-08-28 10:36] enhazappe commented on #825
Problem vanished after restarting my PC and its working properly now (maybe some opcache stuff?, wasn't caused by session)

[2019-08-28 10:36] #825 closed

[2019-09-03 13:20] BigOHenry commented on #803
What is status about this issue? Maybe better solution would be option 2 or 3.

[2019-09-03 14:49] xpackal5 opened #826 "Doctrine & TreeView"
Hi treeview does not work with doctrine

My Entity
[code]

DQL
[code]
Datagrid show only root rows.
hasChildrenCallback and getChildrenCallback never run (callbacks use $entity->getChildren()

[2019-09-10 13:04] mabezdek commented on #727
@janmottl It is possible to do it with small edit? Your example is for big editing.

[2019-09-10 13:19] mabezdek commented on #826
@xpackal5 Can you add your presenter code, where you inicializing the tree view?

[2019-09-12 04:46] janmottl commented on #727
@mabezdek I don't use small editing. So I dion't have experience how to implement it.
DataGrid creates textarea inside td element when particular editing starts. So it will be necessary to catch element creation. Edited td has class 'editing' so it can be identified by that.

I sketch just an idea how it could be done.

`
$('body').on('DOMNodeInserted', 'textarea', function () {
	if ($(this).close

[2019-09-18 08:47] dakorpar commented on #782
closed with #545

[2019-09-18 08:47] #782 closed

[2019-09-19 13:29] paveljanda commented on #733
@BigOHenry I think you can define columns separately and then use them in the both datagrid and the callback:

[code]

But this is not usable right now. Method `DataGrid::addColumn()` is protected. Also, the notation `new ColumnText($grid, 'name', 'name', 'Name')` is now really stupid, it would be cool to refactor this code a bit and make it more simple.

[2019-09-19 13:39] paveljanda commented on #730
A really appreciate a perfect issue description!

[2019-09-19 13:40] paveljanda commented on #730
I will have a look at it.

[2019-09-19 15:40] paveljanda commented on #798
[code]

[2019-09-19 15:40] #798 closed

[2019-09-19 15:41] paveljanda commented on #795
It should be already fixed: https://github.com/contributte/datagrid/blob/v5.x/src/DataGrid.php#L2782

[2019-09-19 15:41] #795 closed

[2019-09-19 15:45] paveljanda commented on #742
BS4 selects should be fixed in v6

[2019-09-19 15:45] #742 closed

[2019-09-19 15:48] paveljanda commented on #729
Thanks a lot for the example but I am not going to support this feature for now. Sorry.
May I suggest columns hiding for similar requests?

[2019-09-19 15:48] #729 closed

[2019-09-19 15:49] paveljanda commented on #722
Please, translate this issue to english. Thank you.

[2019-09-19 15:53] paveljanda commented on #727
Let's keep this issue in scope of data picker. Date time picker is in another issue. Thanks. 👍

[2019-09-19 15:55] paveljanda commented on #717
@FantomX1-github What do you mean by that? Can you please share a screen shot or some wireframe? Thanks!

[2019-09-19 15:55] paveljanda commented on #716
What do you mean by that?

[2019-09-19 15:55] paveljanda commented on #715
What do you mean by that?

[2019-09-19 16:01] paveljanda commented on #713
I can't really see what you mean..?

[2019-09-19 16:44] janmottl commented on #729
Column hiding is already used at customer. It would be appreciated if user could change column order.

[2019-09-20 06:41] marten-cz opened #829 "Problem with payload state and creating an URL in JS"
Datagrid should use something different than state to create a URL in Javascript. The problem is that the state can mapped values. If I define filter in Nette Router, the state will contain these mapped values, not the ones which should be in the URL. In my case I'm converting `id=123` into a object which is accessible in presenter as $this->id. The id is persistent. Nette Presenter will send the

[2019-09-20 13:46] BigOHenry commented on #803
I made fix for this in #827, old communication is at #804.

[2019-09-30 11:42] elring opened #831 "Aggregate function row is never shown"
When I add some aggregate function via addAggregationFunction, the row with results is never shown.

Template is missing something like:
`{if (($control->hasSomeAggregationFunction()) || ($columnsSummary) && !$columnsSummary->getPositionTop())}` what used to be there.

[2019-10-02 15:48] xpackal5 commented on #826
Hi i update ublaboo/datagrid and have different problem.
Datasource of grid js QueryBuilder but getChildrenCallback returns Collection of children entities and hasChildrenCallback returns true/false if entity has children or not.
My DQL of QueryBuilder is "SELECT InventoryLocation FROM app\modules\Inventory\entities\Location InventoryLocation WHERE InventoryLocation.parent IS NULL". Root row os sh

[2019-10-02 16:44] xpackal5 opened #832 "Doctrine & Sorting"
Hi.
I use Doctrine QueryBuilder as datasource and sortable datagrid. Sorting works, but sort! handler gets only null values (itemId, prevId and nextId are null)

[2019-10-02 16:46] xpackal5 commented on #832
Answer is simple. itemId must be item_id, variables has old format (no camelcase)

[2019-10-02 16:46] #832 closed

[2019-10-15 06:57] mczudek00 opened #833 "Fix paginator when using translated 'all' option"
Hi,

I found an issue when using translated 'all' option in items.

This code is searching for 'all' in values, but the value contains translated 'all' option so it resets the $per_page value.

[code]
It could be fixed using key_exists instead of in_array.

[code]

If this is acceptable fix then I would be glad if you put it in 5.x version as well.

Thank you

[2019-10-16 07:29] KrejcirD opened #834 "Duplicit text in select small inline edit problem."
Hi, is their a reason why the default value is set via  .text()  and not via .val() itself ?
This might be problematic if your selectbox has two values with the same text.

[code]
This shuld work more reliable, but would create a BC break.

[code]

[2019-10-16 15:19] xpackal5 opened #835 "Item detail does not work with Doctrine entity"
Hi I am using grid with QueryBuilder datasource, but item detail does not work correctly.
I have
[code]
and template
[code]
When I click on eye icon, detail is shown but all rows disseapear.

[2019-10-17 14:16] RiKap opened #836 "Hideable columns is not working with disabled remember state"
[code]

When you have this configuration, it will never hide columns, as session is disabled.
I think that it should work, beacuse in many cases I really don't need to remeber ordering of columns, pagination ...., but I need to hide some columns.

[2019-10-24 08:53] f3l1x commented on #423
Closing it due to inactivity. Thanks. 🎉

[2019-10-24 08:53] #423 closed

[2019-10-25 09:56] FTCP opened #838 "Inline Add hidden"
onControlAdd will add tr with inline add, but with class "datagrid-row-inline-add-hidden" and the row is therefore invisible

[2019-10-25 21:12] xsuchy09 commented on #833
Last 5.7 version (for Nette < v3) - v5.7.2 - still has this issue. There are new commits fixing this issue - pls release new version for Nette < v3 too. Thanks.

[2019-10-29 14:02] JStika opened #839 "CSS Bootstrap 3"
Jak se da grid upravit na vzhled CSS Bootstrap 3, jako ma https://github.com/o5/grido?

Dekuji za odpoved.

[2019-10-31 21:04] foxycode opened #840 "setSortableCallback() doesn't work when using default or session sort"
Doesn't work even when `$grid->setRememberState(FALSE);` is set.

[code]

[2019-11-05 07:31] halaxa-roman commented on #838
Same issue here

[2019-11-06 13:47] Zarganwar opened #843 "item-detail row not created after inline edit"
If ItemsDetail has renderCondition and this condition **is not** met before inline edit and **is** met after this editation, ajax response returns content for item-detail snippet, but coresponding row not exists because only inline-editted row was refreshed. Full grid redraw is inefficient, I think :-(

[2019-11-13 07:01] kuchy commented on #781
Datagrid version: v6.2.3

Had similar issue.

has filter:
`$grid->addFilterText('id', 'id');`
if you enter number `123`

gets:
`TypeError: Argument 1 passed to Nette\Utils\Strings::toAscii() must be of the type string, int given, called in ....`

I suggest to cast it...sending PR

[2019-11-13 09:11] paveljanda commented on #781
closed via #846

[2019-11-13 09:11] #781 closed

[2019-11-16 15:34] foxycode commented on #840
@paveljanda I tried to prepare PR and I identified problem in `Datagrid::createSorting()` method. Method is trying to get sortable callback from `Datagrid`, but doesn't check for column sortable callback. I can easily fix that, but sorts of columns are retrieved in loop. What if more than one column have sortable callback? Any ideas?

[2019-11-16 15:47] foxycode commented on #840
@f3l1x Can you give me acc so I could prepare PR without forking?

[2019-11-20 15:24] Jigsik commented on #579
@holantomas Thanks for workaround.

I have a facade class for Datagrid. Whenever I update single record I also wanted to redraw only this record including summary. So in my redrawItem method I have this code:

`$this[$this->gridName]->redrawItem($id);

		if (!empty($this->summaryColumns)) {
			/** @var QueryBuilder $ds */
			$ds = clone $this->dataSource;
			$this[$this->gridName]->setColumnsSumma

[2019-11-24 12:53] paveljanda commented on #839
Datagrid should work with bootstrap 3 fine.

[2019-11-24 12:53] #839 closed

[2019-11-24 13:03] #838 closed

[2019-11-24 13:09] JStika commented on #839
Je nekde ukazka?

[2019-11-24 13:11] paveljanda commented on #839
https://github.com/planette/playground/tree/master/contributte-datagrid

And try to use different assets (bootstrap 4 -> 3).

[2019-11-24 13:12] paveljanda commented on #836
But hidden columns are stored in session. There is currently no possibility to store hidden columns in persistent GET parameters, sorry.

[2019-11-24 13:12] #836 closed

[2019-11-24 13:14] paveljanda commented on #834
I actually think this is a bug. Could you please send a PR? Thanks!

[2019-11-24 13:14] #834 closed

[2019-11-24 13:22] paveljanda commented on #833
Could you please try branch `v5.x`? It should be fixed there. Thanks.

[2019-11-24 13:22] #833 closed

[2019-11-24 13:29] paveljanda commented on #829
I agree. Do you think you can send a PR?

[2019-11-24 13:31] paveljanda commented on #738
Datagrid is already able to use Naja

[2019-11-24 13:31] #738 closed

[2019-11-24 13:36] JStika commented on #839
Dekuji za link.
Zel, docker jeste nepouivam (sedim na windows 10 se skvelym PhpStorm).

[2019-11-24 13:37] paveljanda commented on #839
You don't have to use docker, it is there only for the purpuse of using some database. Also, please write GitHub issues in EN. Thanks a lot. :)

[2019-11-24 13:39] JStika commented on #839
Thanks for your info, time, and good will.

[2019-11-24 14:52] RiKap commented on #836
@paveljanda Yeah I know, but it does not matter that it should not work. It should be able to store hidden columns without rememebring state of order, pagination ...
I will try to prepare PR. :)

[2019-11-25 08:15] xsuchy09 commented on #833
There is an error:
`File: .../vendor/ublaboo/datagrid/src/DataGrid.php:2786`
`array_key_exists() expects exactly 2 parameters, 3 given`
array_key_exists has only 2 parameters, not 3 ...

[2019-11-25 08:37] xsuchy09 opened #851 "v5.7.3 - array_key_exists() expects exactly 2 parameters, 3 given"
Fix of https://github.com/contributte/datagrid/issues/833 has this new issue ... see https://github.com/contributte/datagrid/pull/850 fixing this issue ...

[2019-11-25 08:38] xsuchy09 commented on #833
New issue https://github.com/contributte/datagrid/issues/851, fix here https://github.com/contributte/datagrid/issues/850 ...

[2019-11-25 09:49] paveljanda commented on #851
Thanks, fixed

[2019-11-25 09:49] #851 closed

[2019-11-25 10:39] xsuchy09 commented on #851
Thanks for quick fix.

[2019-11-28 08:49] Thoronir42 opened #854 "LeanMapper entity action param condition inverted"
At the method [getLeanMapperEntityProperty](https://github.com/contributte/datagrid/blob/master/src/Row.php#L173-L206), specifically the row 190, the condition seems to be inverted.

The code roughly goes like this: "If property exists, throw exception if strict or return null, otherwise resolve property".

I'd create a pullrequest but rn I gotta scoff to work. I'll hopefully get back to it later

[2019-12-13 15:10] rozsival opened #859 "TypeError with current version of Naja"
I am trying to use `contributte/datagrid` with the current version of `naja` and I get following error:

`Uncaught TypeError: naja.addEventListener(...).bind is not a function`.

The error is thrown in every `naja` extension of `datagrid`, both in production and development.

**Environment:**

`naja: 1.7.0`
`datagrid: 6.2.5`
`webpack: 4.41.2`

Since I am using `webpack` as  module bundler and `dat

[2019-12-13 15:25] rozsival commented on #859
I also tried including `naja` directly via `script` tag as an UMD and it does not work either. Same error.

[2019-12-16 09:35] dakorpar commented on #859
@rozsival it's because naja is loaded after datagrid. Try loading naja before.

[2019-12-16 10:11] rozsival commented on #859
@dakorpar No, it's not. You can see my `naja.ts` entry is the top-most loaded module included *before* datagrid assets. Also, if `naja` is not present when datagrid extension are registered, an exception is thrown clearly stating that `naja` or `nette.ajax.js` must be loaded first. That is not the issue. The `addEventListener` function is executed, the `bind` function on it causes the `TypeError`.

[2019-12-16 10:16] rozsival commented on #859
@dakorpar Ok, maybe you meant the `DOMContentLoaded` event listener?

[2019-12-16 10:25] rozsival commented on #859
@dakorpar Geeeez, so `naja` must be included *and* initialized too 🙈 That is so wrong as it does not correspond with `naja` docs. Extensions should be registered *before* `naja` init. It would be much better if datagrid assets were exposed as a module so a developer can register them on per-project basis. But in this case I understand the main aim of `naja` support was to really make it work inste

[2019-12-16 10:26] #859 closed

[2019-12-16 10:26] paveljanda commented on #859
@rozsival Writing datagrid as npm module is planned. :)

[2019-12-16 10:31] rozsival commented on #859
@paveljanda Thanks for the reply and your effort! You've done an amazing job with this project. Maybe I could help with the assets being rewritten as a module?

[2019-12-16 10:35] paveljanda commented on #859
@rozsival Oh that would be amazing! I started with library happy (those nice checkboxes - https://github.com/paveljanda/happy). That one is required by datagrid and already is written using modules. I am not a frontend programmer so I hope I did a decent job. :D

I would appreciate some help as I am new to JS modules. :)

Are you able to send a full PR with datagrid rewritten as module? Will it br

[2019-12-16 10:36] f3l1x commented on #859
I would go to TypeScript if we decide to full-ground-rewrite.

[2019-12-16 10:39] paveljanda commented on #859
@f3l1x I am not strictly against it. I am just voting for simplicity and usability. RIght now, it's no problem just to include the assets in html and datagrid just works out of the box. As far as I know, mentioned library **happy** works also in browser out of the box because it's in JavaScript (but still a module).

What advantages does TypeScript give us over plain JavaScript?

[2019-12-16 10:40] rozsival commented on #859
@paveljanda I suppose I would be able to send a full PR, but I'm afraid I'm not able to answer your question about the BC at the moment. I'm able to get into it in  mid-January/February, so I'll get back  to you on this topic.

@f3l1x For sure! I finally migrated from Flow to TypeScript and there's no way back for me now 😄

[2019-12-16 10:43] rozsival commented on #859
@paveljanda It's the type checking what makes TS much better over plain JS. The TS compiler is able to discover so many weak spots and potential bugs in the code base, it also guides developers towards writing much more strict and predictable code, not to mention such cool features as code completion, type guards and many more.